Repository DaleStudy/leetcode-study, changes with the labels that .github/labeler.yml gives for each.
All labels: js, ts, py, java, c, c++, c#, swift, kotlin, go, elixir

[WEEK7] number-of-islands solution
  number-of-islands/sun912.py
Labels: py

Number Of Islands Solution
  number-of-islands/naringst.py
Labels: py

fix: add line break
  number-of-islands/naringst.py
Labels: py

Solution: Number of Islands
  number-of-islands/flynn.cpp
Labels: c++

Fix: line lint
  number-of-islands/flynn.cpp
Labels: c++

Number Of Islands
  number-of-islands/TonyKim9401.java
Labels: java

Solution: Unique Paths
  unique-paths/flynn.cpp
Labels: c++

Solution: Set Matrix Zeros
  set-matrix-zeroes/flynn.cpp
Labels: c++

Number of Islands Solution
  number-of-islands/kayden.py
Labels: py

Unique Paths Solution
  unique-paths/kayden.py
Labels: py

Set Matrix Zeroes Solution
  set-matrix-zeroes/kayden.py
Labels: py

Fix Set Matrix Zeroes
  set-matrix-zeroes/kayden.py
Labels: py

matrix[1..row][1..column] 0으로 바꾸는 반복문 1개로 합침.
  set-matrix-zeroes/yeonguchoe.c
Labels: c

2문제 추가
  longest-substring-without-repeating-characters/jdalma.kt
  number-of-islands/jdalma.kt
Labels: kotlin

feat: 문제풀이 추가
  longest-substring-without-repeating-characters/hwanmini.js
Labels: js

Unique Paths
  unique-paths/TonyKim9401.java
Labels: java

Set Matrix Zeros
  set-matrix-zeroes/TonyKim9401.java
Labels: java

2문제 추가
  set-matrix-zeroes/jdalma.kt
  unique-paths/jdalma.kt
Labels: kotlin

modified solutions
  number-of-islands/haklee.py
  set-matrix-zeroes/haklee.py
Labels: py

solve: set matrix zeroes
  set-matrix-zeroes/wogha95.js
Labels: js

remove log
  longest-substring-without-repeating-characters/gitsunmin.ts
Labels: ts

리뷰반영
  longest-substring-without-repeating-characters/sunjae95.js
  reverse-linked-list/sunjae95.js
Labels: js

solve: set matrix zeroes
  set-matrix-zeroes/wogha95.js
Labels: js

solve: merge two sorted lists
  merge-two-sorted-lists/wogha95.js
Labels: js

Update Time Complexity
  longest-substring-without-repeating-characters/naringst.py
Labels: py

1. Merge Two Sorted Lists
  merge-two-sorted-lists/sunjae95.js
Labels: js

Merge Two Sorted Lists
  merge-two-sorted-lists/TonyKim9401.java
Labels: java

Feat: 21. Merge Two Sorted Lists
  merge-two-sorted-lists/HC-kang.ts
Labels: ts

Docs: 21. Merge Two Sorted Lists 복잡도 및 주석 추가
  merge-two-sorted-lists/HC-kang.ts
Labels: ts

8주차 제출
  merge-two-sorted-lists/jdalma.kt
Labels: kotlin

Solution: Merge Two Sorted Lists
  merge-two-sorted-lists/flynn.cpp
Labels: c++

fix lint: line break
  merge-two-sorted-lists/flynn.cpp
Labels: c++

solutions
  clone-graph/haklee.py
  longest-common-subsequence/haklee.py
  longest-repeating-character-replacement/haklee.py
  merge-two-sorted-lists/haklee.py
  sum-of-two-integers/haklee.py
Labels: py

solve: longest repeating character replacement
  longest-repeating-character-replacement/wogha95.js
Labels: js

solve: clone graph
  clone-graph/wogha95.js
Labels: js

2. Longest Repeating Character Replacement
  longest-repeating-character-replacement/sunjae95.js
Labels: js

Solution: Longest Repeating Character Replacement
  longest-repeating-character-replacement/flynn.cpp
Labels: c++

fix comment
  longest-repeating-character-replacement/flynn.cpp
Labels: c++

.github/labeler.yml:

js:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.js"

ts:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"

py:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"

java:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.java"

c:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.c"

c++:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.cpp"

c#:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.cs"

swift:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.swift"

kotlin:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.kt"

go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"

elixir:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.exs"
