Repository DaleStudy/leetcode-study, changes with the labels that .github/labeler.yml gives for each.
All labels: js, ts, py, java, c++, swift, kotlin, go, elixir

Create heozeop.cpp
  climbing-stairs/heozeop.cpp
Labels: c++

Create heozeop.cpp
  product-of-array-except-self/heozeop.cpp
Labels: c++

Create heozeop.cpp
  combination-sum/heozeop.cpp
Labels: c++

Update heozeop.cpp
  combination-sum/heozeop.cpp
Labels: c++

Coin Change
  coin-change/sunjae95.js
Labels: js

Add week 3 solutions: climbing-stairs
  climbing-stairs/gitsunmin.ts
Labels: ts

Create heozeop.cpp
  coin-change/heozeop.cpp
Labels: c++

Update heozeop.cpp
  two-sum/heozeop.cpp
Labels: c++

Fix: md -> cpp
  climbing-stairs/flynn.cpp
  climbing-stairs/flynn.md
  coin-change/flynn.cpp
  coin-change/flynn.md
  combination-sum/flynn.cpp
  combination-sum/flynn.md
  product-of-array-except-self/flynn.cpp
  product-of-array-except-self/flynn.md
  two-sum/flynn.cpp
  two-sum/flynn.md
Labels: c++

.github/labeler.yml:

js:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.js"

ts:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"

py:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"

java:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.java"

c++:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.cpp"

swift:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.swift"

kotlin:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.kt"

go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"

elixir:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.exs"
