Repository DaleStudy/leetcode-study, changes with the labels that .github/labeler.yml gives for each.
All labels: js, ts, py, java, c++, swift, kotlin, go, elixir

.github/labeler.yml:

js:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.js"

ts:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.ts"

py:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.py"

java:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.java"

c++:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.cpp"

swift:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.swift"

kotlin:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.kt"

go:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.go"

elixir:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.exs"

ci: add line ending check workflow for current pr
  .github/workflows/pr-line-lint.yaml
Labels: none

ci: replace `fernandrone/linelint` to custom job in integration workflow
  .github/workflows/integration.yaml
Labels: none

ci: remove file
  .github/workflows/pr-line-lint.yaml
Labels: none

ci: polish `linelint` job
  .github/workflows/integration.yaml
Labels: none

solve: construct binary tree from preorder and inorder traversal
  construct-binary-tree-from-preorder-and-inorder-traversal/tolluset.ts
Labels: ts

solve: decode ways
  decode-ways/tolluset.ts
Labels: ts

solve: climbing stairs
  climbing-stairs/wogha95.js
Labels: js

solve: climbing stairs
  climbing-stairs/wogha95.js
Labels: js

solve: product of array except self
  product-of-array-except-self/wogha95.js
Labels: js

solve: two sum
  two-sum/tolluset.ts
Labels: ts

feat: 1. Two Sum
  two-sum/HC-kang.ts
Labels: ts

Solution: Two Sum
  two-sum/flynn.md
Labels: none

add PR template
  .github/CODEOWNERS
  .github/pull_request_template.md
Labels: none

fix: solution 함수 추가
  construct-binary-tree-from-preorder-and-inorder-traversal/naringst.js
Labels: js

Two Sum Solutions
  two-sum/naringst.js
Labels: js

ci: add line ending check workflow for current pr (#336)
  .github/workflows/integration.yaml
Labels: none

solve: combination sum
  combination-sum/wogha95.js
Labels: js

Solve two-sum with python
  two-sum/bemelon.py
Labels: py

Solve climbing-stairs with python
  climbing-stairs/bemelon.py
Labels: py

Solution: Climbing Stairs
  climbing-stairs/flynn.md
Labels: none

Solution: Product of Array Except Self
  product-of-array-except-self/flynn.md
Labels: none

Solve product-of-array-except-self with python
  product-of-array-except-self/bemelon.py
Labels: py

Add week 3 solutions: two-sum
  two-sum/gitsunmin.ts
Labels: ts

two-sum O(n) 풀이 완료
  two-sum/highball.js
Labels: js

Solution: Combination Sum
  combination-sum/flynn.md
Labels: none

Solution: Coin Change
  coin-change/flynn.md
Labels: none

feat: 70. Climbing Stairs
  climbing-stairs/HC-kang.ts
Labels: ts

simplify: 70. Climbing Stairs
  climbing-stairs/HC-kang.ts
Labels: ts

Two Sum
  two-sum/sunjae95.js
Labels: js

Climbing Stairs
  climbing-stairs/sunjae95.js
Labels: js

Two Sum solution
  two-sum/kimyoung.js
Labels: js

Product Of Array Except Self
  product-of-array-except-self/sunjae95.js
Labels: js

Product of Array Except Self solution
  product-of-array-except-self/kimyoung.js
Labels: js

quick fix - add space on last line
  product-of-array-except-self/kimyoung.js
Labels: js

Climbing Stairs solution
  climbing-stairs/kimyoung.js
Labels: js

quick fix - add end line break
  climbing-stairs/kimyoung.js
Labels: js

product of array except self 완료 - time complexitiy: O(n) - space complexitiy: O(1)
  product-of-array-except-self/highball.js
Labels: js

3주차 답안 추가
  climbing-stairs/jdalma.kt
  coin-change/jdalma.kt
  combination-sum/jdalma.kt
  product-of-array-except-self/jdalma.kt
  two-sum/jdalma.kt
Labels: kotlin

Combination Sum
  combination-sum/sunjae95.js
Labels: js

Create heozeop.cpp
  two-sum/heozeop.cpp
Labels: c++
