Repository DaleStudy/leetcode-study, pull requests merged in 2024-08, with the labels that each got.

#299 [TONY] WEEK 01 solutions
  contains-duplicate/TonyKim9401.java
  kth-smallest-element-in-a-bst/TonyKim9401.java
  number-of-1-bits/TonyKim9401.java
  palindromic-substrings/TonyKim9401.java
  top-k-frequent-elements/TonyKim9401.java
Labels: java

#300 [BEMELON][WEEK 01](Python) 리트코드 문제 풀이
  contains-duplicate/bemelon.py
  kth-smallest-element-in-a-bst/bemelon.py
  number-of-1-bits/bemelon.py
  palindromic-substrings/bemelon.py
  top-k-frequent-elements/bemelon.py
Labels: py

#298 [정현준] 1주차 답안 제출
  contains-duplicate/jdalma.kt
  kth-smallest-element-in-a-bst/jdalma.kt
  number-of-1-bits/jdalma.kt
  palindromic-substrings/jdalma.kt
  top-k-frequent-elements/jdalma.kt
Labels: kotlin

#322 [EGON] Week 01 Solutions
  contains-duplicate/EGON.py
  contains-duplicate/EGON.swift
  kth-smallest-element-in-a-bst/EGON.py
  kth-smallest-element-in-a-bst/EGON.swift
  number-of-1-bits/EGON.py
  number-of-1-bits/EGON.swift
  palindromic-substrings/EGON.py
  palindromic-substrings/EGON.swift
  top-k-frequent-elements/EGON.py
  top-k-frequent-elements/EGON.swift
Labels: py, swift

#313 [crispy] Week 1 Solution explanation
  contains-duplicate/heozeop.cpp
  kth-smallest-element-in-a-bst/heozeop.cpp
  number-of-1-bits/heozeop.cpp
  palindromic-substrings/heozeop.cpp
  top-k-frequent-elements/heozeop.cpp
Labels: c++

#315 [sun] W1 Solutions
  contains-duplicate/sun912.py
  kth-smallest-element-in-a-bst/sun912.py
  number-of-1-bits/sun912.py
  palindromic-substrings/sun912.py
  top-k-frequent-elements/sun912.py
Labels: py

#297 [재호] WEEK 01 solutions
  contains-duplicate/wogha95.js
  kth-smallest-element-in-a-bst/wogha95.js
  number-of-1-bits/wogha95.js
  palindromic-substrings/wogha95.js
  top-k-frequent-elements/wogha95.js
Labels: js

#307 [강희찬] Week1 문제 풀이
  contains-duplicate/HC-kang.ts
  kth-smallest-element-in-a-bst/HC-kang.ts
  number-of-1-bits/HC-kang.ts
  palindromic-substrings/HC-kang.ts
  top-k-frequent-elements/HC-kang.ts
Labels: ts

#319 [이병현] Week 1
  contains-duplicate/tolluset.ts
  kth-smallest-element-in-a-bst/tolluset.ts
  number-of-1-bits/tolluset.ts
  palindromic-substrings/tolluset.ts
  top-k-frequent-elements/tolluset.ts
Labels: ts

#321 [kimyoung] WEEK 01 Solutions
  contains-duplicate/kimyoung.js
  kth-smallest-element-in-a-bst/kimyoung.js
  number-of-1-bits/kimyoung.js
  palindromic-substrings/kimyoung.js
  top-k-frequent-elements/kimyoung.js
Labels: js

#308 [혜준] Week1 문제 풀이
  contains-duplicate/hyejjun.js
  number-of-1-bits/hyejjun.js
  palindromic-substrings/hyejjun.js
  top-k-frequent-elements/hyejjun.js
Labels: js

#304 [영우] Week 1 풀이 제출
  contains-duplicate/yeongu.cpp
  kth-smallest-element-in-a-bst/yeongu.cpp
  number-of-1-bits/yeongu.cpp
  palindromic-substrings/yeongu.cpp
  top-k-frequent-elements/yeongu.cpp
Labels: c++

#327 [kayden] Week 01 Solutions
  contains-duplicate/kayden.py
  kth-smallest-element-in-a-bst/kayden.py
  number-of-1-bits/kayden.py
  palindromic-substrings/kayden.py
  top-k-frequent-elements/kayden.py
Labels: py

#318 [Raft] Week 01 solutions
  contains-duplicate/Raft.py
  kth-smallest-element-in-a-bst/Raft.py
  number-of-1-bits/Raft.py
  palindromic-substrings/Raft.py
  top-k-frequent-elements/raft.py
Labels: py

#326 [jaejeong1] WEEK 01 solutions
  contains-duplicate/jaejeong1.java
  kth-smallest-element-in-a-bst/jaejeong1.java
  number-of-1-bits/jaejeong1.java
  palindromic-substrings/jaejeong1.java
  top-k-frequent-elements/jaejeong1.java
Labels: java

#316 [나리] WEEK 01 Solutions
  contains-duplicate/naringst.js
  number-of-1-bits/naringst.js
  palindromic-substrings/naringst.js
  top-k-frequent-elements/naringst.js
Labels: js

#317 [윤태권] Week1 문제 풀이
  contains-duplicate/taekwon-dev.java
  kth-smallest-element-in-a-bst/taekwon-dev.java
  number-of-1-bits/taekwon-dev.java
  top-k-frequent-elements/taekwon-dev.java
Labels: java

#320 [DM] Week 01 Solutions
  contains-duplicate/dm.py
  number-of-1-bits/dm.py
  palindromic-substrings/dm.py
  top-k-frequent-elements/dm.py
Labels: py

#310 [sophia] Week1 문제풀이
  contains-duplicate/seona926.js
  number-of-1-bits/seona926.js
Labels: js

#325 [환미니니] Week1 문제풀이
  contains-duplicate/hwanminini.js
  kth-smallest-element-in-a-bst/hwanminini.js
  number-of-1-bits/hwanmini.js
  palindromic-substrings/hwanminini.js
  top-k-frequent-elements/hwanmini.js
Labels: js

#311 [구문영] Week1 문제 풀이
  contains-duplicate/GUMUNYEONG.js
  number-of-1-bits/GUMUNYEONG.js
  top-k-frequent-elements/GUMUNYEONG.js
Labels: js

#331 [pepper] Week 1 Solutions
  contains-duplicate/whewchews.ts
  kth-smallest-element-in-a-bst/whewchews.ts
  number-of-1-bits/whewchews.ts
  palindromic-substrings/whewchews.ts
  top-k-frequent-elements/whewchews.ts
Labels: ts

#337 [0-chan] Week 1
  contains-duplicate/0-chan.ts
  number-of-1-bits/0-chan.ts
Labels: ts

#314 [아현] Week01 Solutions
  contains-duplicate/f-exuan21.java
  kth-smallest-element-in-a-bst/f-exuan21.java
  number-of-1-bits/f-exuan21.java
  top-k-frequent-elements/f-exuan21.java
Labels: java

#303 [HaJunYoo][WEEK 01] 리트코드 문제 풀이
  contains-duplicate/hajunyoo.py
  kth-smallest-element-in-a-bst/hajunyoo.py
  number-of-1-bits/hajunyoo.py
  palindromic-substrings/hajunyoo.py
  top-k-frequent-elements/hajunyoo.py
Labels: py

#330 [codyman0] Week 01 Solutions
  contains-duplicate/codyman0.py
Labels: py

#347 [정현준] 2주차 답안 제출
  construct-binary-tree-from-preorder-and-inorder-traversal/jdalma.kt
  counting-bits/jdalma.kt
  decode-ways/jdalma.kt
  encode-and-decode-strings/jdalma.kt
  valid-anagram/jdalma.kt
Labels: kotlin

#346 [Flynn] week2
  construct-binary-tree-from-preorder-and-inorder-traversal/flynn.cpp
  counting-bits/flynn.cpp
  decode-ways/flynn.cpp
  encode-and-decode-strings/flynn.cpp
  valid-anagram/flynn.cpp
Labels: c++

#363 [pepper] WEEK 2 Solution
  construct-binary-tree-from-preorder-and-inorder-traversal/whewchews.ts
  counting-bits/whewchews.ts
  decode-ways/whewchews.ts
  valid-anagram/whewchews.ts
Labels: ts

#340 [jaejeong1] WEEK 02 Solutions
  counting-bits/jaejeong1.java
  encode-and-decode-strings/jaejeong1.java
  valid-anagram/jaejeong1.java
Labels: java

#356 [강희찬] WEEK 2 Solution
  construct-binary-tree-from-preorder-and-inorder-traversal/HC-kang.ts
  counting-bits/HC-kang.ts
  decode-ways/HC-kang.ts
  encode-and-decode-strings/HC-kang.ts
  valid-anagram/HC-kang.ts
Labels: ts

#342 [haklee] week 2
  construct-binary-tree-from-preorder-and-inorder-traversal/haklee.py
  counting-bits/haklee.py
  decode-ways/haklee.py
  encode-and-decode-strings/haklee.py
  valid-anagram/haklee.py
Labels: py

#338 [TONY] WEEK 02 Solutions
  construct-binary-tree-from-preorder-and-inorder-traversal/TomyKim9401.java
  counting-bits/TonyKim9401.java
  decode-ways/TonyKim9401.java
  encode-and-decode-strings/TonyKim9401.java
  valid-anagram/TonyKim9401.java
Labels: java

#362 [gitsunmin] WEEK 2 Solution
  construct-binary-tree-from-preorder-and-inorder-traversal/gitsunmin.ts
  counting-bits/gitsunmin.ts
  encode-and-decode-strings/gitsunmin.ts
  valid-anagram/gitsunmin.ts
Labels: ts

#364 [coloryourlife] Week2 solutions
  construct-binary-tree-from-preorder-and-inorder-traversal/coloryourlife.py
  counting-bits/coloryourlife.py
  decode-ways/coloryourlife.py
  encode-and-decode-strings/coloryourlife.py
  valid-anagram/coloryourlife.py
Labels: py

#355 [kayden] Week 02 Solutions
  construct-binary-tree-from-preorder-and-inorder-traversal/kayden.py
  counting-bits/kayden.py
  decode-ways/kayden.py
  encode-and-decode-strings/kayden.py
  valid-anagram/kayden.py
Labels: py

#353 [윤태권] Week2 문제 풀이
  construct-binary-tree-from-preorder-and-inorder-traversal/taekwon-dev.java
  counting-bits/taekwon-dev.java
  valid-anagram/taekwon-dev.java
Labels: java

#357 [구문영(GUMUNYEONG)] WEEK 2 Solution
  valid-anagram/GUMUNYEONG.js
Labels: js

#371 [highball] week2 solutions
  construct-binary-tree-from-preorder-and-inorder-traversal/highball.js
  counting-bits/highball.js
  encode-and-decode-strings/highball.js
  valid-anagram/highball.js
Labels: js

#360 [환미니니] WEEK 2 Solution
  construct-binary-tree-from-preorder-and-inorder-traversal/hwanmini.js
  counting-bits/hwanmini.js
  valid-anagram/hwanmini.js
Labels: js

#367 [EGON] Week 02 Solutions
  climbing-stairs/EGON.py
  coin-change/EGON.py
  combination-sum/EGON.py
  construct-binary-tree-from-preorder-and-inorder-traversal/EGON.py
  counting-bits/EGON.py
  counting-bits/EGON.swift
  decode-ways/EGON.py
  encode-and-decode-strings/EGON.py
  encode-and-decode-strings/EGON.swift
  product-of-array-except-self/EGON.py
  two-sum/EGON.py
  valid-anagram/EGON.py
  valid-anagram/EGON.swift
Labels: py, swift

#341 [선재] WEEK02 Solutions
  construct-binary-tree-from-preorder-and-inorder-traversal/sunjae95.js
  counting-bits/sunjae95.js
  decode-ways/sunjae95.js
  palindromic-substrings/sunjae95.js
  valid-anagram/sunjae95.js
Labels: js

#348 [sun]WEEK 2 Solution
  construct-binary-tree-from-preorder-and-inorder-traversal/sun912.py
  counting-bits/sun912.py
  decode-ways/sun912.py
  encode-and-decode-strings/sun912.py
  valid-anagram/sun912.py
Labels: py

#351 [혜준] Week2 문제 풀이
  counting-bits/hyejjun.js
  decode-ways/hyejjun.js
  valid-anagram/hyejjun.js
Labels: js

#349 [아현] WEEK02 Solutions
  construct-binary-tree-from-preorder-and-inorder-traversal/f-exuan21.java
  counting-bits/f-exuan21.java
  valid-anagram/f-euxan21.java
Labels: java

#359 [crispy] week 2 solution
  construct-binary-tree-from-preorder-and-inorder-traversal/heozeop.cpp
  counting-bits/heozeop.cpp
  decode-ways/heozeop.cpp
  encode-and-decode-strings/heozeop.cpp
  valid-anagram/heozeop.cpp
Labels: c++

#366 [mangodm-web] Week 02 Solutions
  construct-binary-tree-from-preorder-and-inorder-traversal/mangodm-web.py
  counting-bits/mangodm-web.py
  decode-ways/mangodm-web.py
  encode-and-decode-strings/mangodm-web.py
  valid-anagram/mangodm-web.py
Labels: py

#370 [이병현] Week 2
  construct-binary-tree-from-preorder-and-inorder-traversal/tolluset.ts
  counting-bits/tolluset.ts
  decode-ways/tolluset.ts
  encode-and-decode-strings/tolluset.ts
  valid-anagram/tolluset.ts
Labels: ts

#345 [kimyoung] WEEK 02 Solutions
  counting-bits/kimyoung.js
  encode-and-decode-strings/kimyoung.js
  valid-anagram/kimyoung.js
Labels: js

#352 [나리] WEEK 02 Solutions
  construct-binary-tree-from-preorder-and-inorder-traversal/naringst.js
  counting-bits/naringst.js
  decode-ways/naringst.js
  valid-anagram/naringst.js
Labels: js

#373 2주차 풀이
  construct-binary-tree-from-preorder-and-inorder-traversal/yeonguchoe.go
  counting-bits/yeonguchoe.go
  decode-ways/yeonguchoe.go
  encode-and-decode-strings/yeonguchoe.go
  valid-anagram/yeonguchoe.go
Labels: go

#385 [Flynn] week 3
  climbing-stairs/flynn.cpp
  coin-change/flynn.cpp
  combination-sum/flynn.cpp
  product-of-array-except-self/flynn.cpp
  two-sum/flynn.cpp
Labels: c++

#376 [HaJunYoo] Week 2
  construct-binary-tree-from-preorder-and-inorder-traversal/hajunyoo.py
  counting-bits/hajunyoo.py
  decode-ways/hajunyoo.py
  encode-and-decode-strings/hajunyoo.py
  valid-anagram/hajunyoo.py
Labels: py

#384 [강희찬] WEEK 3 Solution
  climbing-stairs/HC-kang.ts
  coin-change/HC-kang.ts
  combination-sum/HC-kang.ts
  product-of-array-except-self/HC-kang.ts
  two-sum/HC-kang.ts
Labels: ts

#383 [이병현] Week 3
  climbing-stairs/tolluset.ts
  coin-change/tolluset.ts
  combination-sum/tolluset.ts
  product-of-array-except-self/tolluset.ts
  two-sum/tolluset.ts
Labels: ts

#387 [BEMELON] WEEK 3 Solution
  climbing-stairs/bemelon.py
  coin-change/bemelon.py
  combination-sum/bemelon.py
  product-of-array-except-self/bemelon.py
  two-sum/bemelon.py
Labels: py

#392 [crispy] 3 week solution
  climbing-stairs/heozeop.cpp
  coin-change/heozeop.cpp
  combination-sum/heozeop.cpp
  product-of-array-except-self/heozeop.cpp
  two-sum/heozeop.cpp
Labels: c++

#378 [EGON] Week 03 Solutions
  coin-change/EGON.py
  combination-sum/EGON.py
  two-sum/EGON.py
Labels: py, swift

#389 [kimyoung] WEEK 03 Solutions
  climbing-stairs/kimyoung.js
  coin-change/kimyoung.js
  combination-sum/kimyoung.js
  product-of-array-except-self/kimyoung.js
  two-sum/kimyoung.js
Labels: js

#390 [정현준] 3주차 답안 추가
  climbing-stairs/jdalma.kt
  coin-change/jdalma.kt
  combination-sum/jdalma.kt
  product-of-array-except-self/jdalma.kt
  two-sum/jdalma.kt
Labels: kotlin

#395 [윤태권] Week3 문제 풀이
  climbing-stairs/taekwon-dev.java
  combination-sum/taekwon-dev.java
  two-sum/taekwon-dev.java
Labels: java

#386 [나리] WEEK 03 Solutions
  climbing-stairs/naringst.js
  coin-change/naringst.js
  combination-sum/naringst.js
  product-of-array-except-self/naringst.js
  two-sum/naringst.js
Labels: js

#374 [TONY] WEEK 03 Solutions
  climbing-stairs/TonyKim9401.java
  coin-change/TonyKim9401.java
  combination-sum/TonyKim9401.java
  product-of-array-except-self/TonyKim9401.java
  two-sum/TonyKim9401.java
Labels: java

#400 [gitsunmin] Week3 Solutions
  climbing-stairs/gitsunmin.ts
  product-of-array-except-self/gitsunmin.ts
  two-sum/gitsunmin.ts
Labels: ts

#399 [환미니니] Week3 문제풀이
  climbing-stairs/hwanmini.js
  combination-sum/hwanmini.js
  two-sum/hwanmini.js
Labels: js

#397 [이혜준] Week3 문제 풀이
  climbing-stairs/hyejjun.js
  two-sum/hyejjun.js
Labels: js

#402 [pepper] Week 03 Solutions
  climbing-stairs/whewchews.ts
  coin-change/whewchews.ts
  combination-sum/whewchews.ts
  product-of-array-except-self/whewchews.ts
  two-sum/whewchews.ts
Labels: ts
