Repository DaleStudy/leetcode-study, pull requests merged in 2024-09, with the labels that each got.

#388 [highball] week3 solutions
  climbing-stairs/highball.js
  coin-change/highball.js
  combination-sum/highball.js
  product-of-array-except-self/highball.js
  two-sum/highball.js
Labels: js

#401 [jaejeong1] WEEK 03 Solutions
  climbing-stairs/jaejeong1.java
  product-of-array-except-self/jaejeong1.java
  two-sum/jaejeong1.java
Labels: java

#398 [GUMUNYEONG] Week3 문제풀이
  two-sum/GUMUNYEONG.js
Labels: js

#375 [재호] WEEK 03 Solutions
  climbing-stairs/wogha95.js
  coin-change/wogha95.js
  combination-sum/wogha95.js
  product-of-array-except-self/wogha95.js
  two-sum/wogha95.js
Labels: js

#393 [kayden] Week 03 Solutions
  climbing-stairs/kayden.py
  combination-sum/kayden.py
  encode-and-decode-strings/kayden.py
  product-of-array-except-self/kayden.py
  two-sum/kayden.py
Labels: py

#380 [haklee] week 3
  climbing-stairs/haklee.py
  coin-change/haklee.py
  combination-sum/haklee.py
  product-of-array-except-self/haklee.py
  two-sum/haklee.py
Labels: py

#394 [Sophia] Week3 Solutions
  climbing-stairs/seona926.js
  two-sum/seona926.js
Labels: js

#403 [mangodm-web] Week 03 Solutions
  climbing-stairs/mangodm-web.py
  product-of-array-except-self/mangodm-web.py
  two-sum/mangodm-web.py
Labels: py

#405 [joon] Week3 solutions
  climbing-stairs/joon.py
  combination-sum/joon.py
  product-of-array-except-self/joon.py
  two-sum/joon.py
Labels: py

#412 [이병현] Week 4
  longest-consecutive-sequence/tolluset.ts
  maximum-subarray/tolluset.ts
  missing-number/tolluset.ts
  valid-palindrome/tolluset.ts
  word-search/tolluset.ts
Labels: ts

#407 [TONY] WEEK 04 Solutions
  longest-consecutive-sequence/TonyKim9401.java
  maximum-product-subarray/TonyKim9401.java
  missing-number/TonyKim9401.java
  valid-palindrome/TonyKim9401.java
  word-search/TonyKim9401.java
Labels: java

#410 [정현준] 4주차 답안 제출
  longest-consecutive-sequence/jdalma.kt
  maximum-product-subarray/jdalma.kt
  missing-number/jdalma.kt
  valid-palindrome/jdalma.kt
  word-search/jdalma.kt
Labels: kotlin

#420 [gitsunmin] WEEK4 Solution
  longest-consecutive-sequence/gitsunmin.ts
  maximum-product-subarray/gitsunmin.ts
  missing-number/gitsunmin.ts
  valid-palindrome/gitsunmin.ts
  word-search/gitsunmin.ts
Labels: ts

#416 [강희찬] WEEK 4 Solution
  longest-consecutive-sequence/HC-kang.ts
  maximum-product-subarray/HC-kang.ts
  missing-number/HC-kang.ts
  valid-palindrome/HC-kang.ts
  word-search/HC-kang.ts
Labels: ts

#427 [혜준] Week4 문제풀이
  missing-number/hyejjun.js
  valid-palindrome/hyejjun.js
Labels: js

#413 [kimyoung] WEEK 04 Solutions
  longest-consecutive-sequence/kimyoung.js
  maximum-product-subarray/kimyoung.js
  missing-number/kimyoung.js
  valid-palindrome/kimyoung.js
  word-search/kimyoung.js
Labels: js

#415 [jaejeong1] Week 04 Solutions
  longest-consecutive-sequence/jaejeong1.java
  missing-number/jaejeong1.java
  valid-palindrome/jaejeong1.java
  word-search/jaejeong.java
Labels: java

#422 [highball] week4 solutions
  longest-consecutive-sequence/highball.js
  maximum-product-subarray/highball.js
  missing-number/highball.js
  valid-palindrome/highball.js
  word-search/highball.js
Labels: js

#414 [kayden] Week 04 Solutions
  longest-common-subsequence/kayden.py
  maximum-product-subarray/kayden.py
  missing-number/kayden.py
  valid-palindrome/kayden.py
  word-search/kayden.py
Labels: py

#417 [GUMUNYEONG] Week4 Solutions
  missing-number/GUMUNYEONG.js
  valid-palindrome/GUMUNYEONG.js
Labels: js

#419 [선재] WEEK4 Solution
  longest-consecutive-sequence/sunjae95.js
  maximum-product-subarray/sunjae95.js
  missing-number/sunjae95.js
  valid-palindrome/sunjae95.js
  word-search/sunjae95.js
Labels: js

#429 [Flynn] week4
  longest-consecutive-sequence/flynn.cpp
  maximum-product-subarray/flynn.cpp
  missing-number/flynn.cpp
  valid-palindrome/flynn.cpp
  word-search/flynn.cpp
Labels: c++

#432 [haklee] week 4
  longest-consecutive-sequence/haklee.py
  maximum-product-subarray/haklee.py
  missing-number/haklee.py
  valid-palindrome/haklee.py
  word-search/haklee.py
Labels: py

#408 [재호] WEEK 04 Solutions
  longest-consecutive-sequence/wogha95.js
  maximum-product-subarray/wogha95.js
  missing-number/wogha95.js
  valid-palindrome/wogha95.js
  word-search/wogha95.js
Labels: js

#409 [crispy] week 4 solution
  longest-consecutive-sequence/heozeop.cpp
  missing-number/heozeop.cpp
  valid-palindrome/heozeop.cpp
  word-search/heozeop.cpp
Labels: c++

#430 [윤태권] Week4 문제 풀이
  missing-number/taekwon-dev.java
  valid-palindrome/taekwon-dev.java
Labels: java

#425 [환미니니] Week4 문제풀이
  longest-consecutive-sequence/hwanmini.js
  missing-number/hwanmini.js
  valid-palindrome/hwanmini.js
  word-search/hwanmini.js
Labels: js

#424 [나리] WEEK04 Solutions
  missing-number/naringst.js
  valid-palindrome/naringst.js
Labels: js

#428 [Sophia] Week4 Solution
  valid-palindrome/seona926.js
Labels: js

#433 [EGON] Week 4 Solutions
  longest-consecutive-sequence/EGON.py
  maximum-subarray/EGON.py
  missing-number/EGON.py
  valid-palindrome/EGON.py
  word-search/EGON.py
Labels: py

#426 [sun]Week4 문제풀이
  longest-consecutive-sequence/sun912.py
  maximum-product-subarray/sun912.py
  missing-number/sun912.py
  valid-palindrome/sun912.py
  word-search/sun912.py
Labels: py

#437 [Week 4] Add KyrieJ95's solution for 3 / 5 problems
  maximum-product-subarray/joon.py
  missing-number/joon.py
  valid-palindrome/joon.py
Labels: py

#451 [TONY] WEEK 5 Solution
  3sum/TonyKim9401.java
  best-time-to-buy-and-sell-stock/TonyKim9401.java
  group-anagrams/TonyKim9401.java
  implement-trie-prefix-tree/TonyKim9401.java
  word-break/TonyKim9401.java
Labels: java

#449 [정현준] 5주차 답안 제출
  3sum/jdalma.kt
  best-time-to-buy-and-sell-stock/jdalma.kt
  group-anagrams/jdalma.kt
  implement-trie-prefix-tree/jdalma.kt
  word-break/jdalma.kt
Labels: kotlin

#452 [혜준] Week5 문제 풀이
  best-time-to-buy-and-sell-stock/hyejjun.js
  group-anagrams/hyejjun.js
Labels: js

#444 [윤태권] Week5 문제 풀이
  3sum/taekwon-dev.java
  best-time-to-buy-and-sell-stock/taekwon-dev.java
  group-anagrams/taekwon-dev.java
Labels: java

#448 [kayden] Week 05 Solutions
  3sum/kayden.py
  best-time-to-buy-and-sell-stock/kayden.py
  group-anagrams/kayden.py
  implement-trie-prefix-tree/kayden.py
  word-break/kayden.py
Labels: py

#447 [Flynn] Week 5
  3sum/flynn.py
  best-time-to-buy-and-sell-stock/flynn.py
  group-anagrams/flynn.py
  implement-trie-prefix-tree/flynn.py
  word-break/flynn.py
Labels: py

#439 [이병현] Week 5
  3sum/tolluset.ts
  best-time-to-buy-and-sell-stock/tolluset.ts
  group-anagrams/tolluset.ts
  implement-trie-prefix-tree/tolluset.ts
  word-break/tolluset.ts
Labels: ts

#457 [환미니니] Week5 문제풀이
  3sum/hwanmini.js
  best-time-to-buy-and-sell-stock/hwanmini.js
  group-anagrams/hwanmini.js
  implement-trie-prefix-tree/hwanmini.js
  word-break/hwanmini.js
Labels: js

#443 [kimyoung] WEEK 05 Solutions
  best-time-to-buy-and-sell-stock/kimyoung.js
Labels: js

#442 [강희찬] WEEK 5 Solution
  3sum/HC-kang.ts
  best-time-to-buy-and-sell-stock/HC-kang.ts
  group-anagrams/HC-kang.ts
  implement-trie-prefix-tree/HC-kang.ts
  word-break/HC-kang.ts
Labels: ts

#459 [GUMUNYEONG] week 5 solution
  best-time-to-buy-and-sell-stock/GUMUNYEONG.js
Labels: js

#438 [재호] WEEK 05 Solutions
  3sum/wogha95.js
  best-time-to-buy-and-sell-stock/wogha95.js
  group-anagrams/wogha95.js
  implement-trie-prefix-tree/wogha95.js
  word-break/wogha95.js
Labels: js

#453 [나리] WEEK 05 Solutions
  best-time-to-buy-and-sell-stock/naringst.js
  group-anagrams/naringst.js
Labels: js

#441 [haklee] week 5
  3sum/haklee.py
  best-time-to-buy-and-sell-stock/haklee.py
  group-anagrams/haklee.py
  implement-trie-prefix-tree/haklee.py
  word-break/haklee.py
Labels: py

#450 [sun] WEEK 5 solution
  3sum/sun912.py
  best-time-to-buy-and-sell-stock/sun912.py
  group-anagrams/sun912.py
Labels: py

#455 [선재] WEEK05 문제 풀이
  best-time-to-buy-and-sell-stock/sunjae95.js
  group-anagrams/sunjae95.js
Labels: js

#456 [EGON] Week 5 Solutions
  3sum/EGON.py
  best-time-to-buy-and-sell-stock/EGON.py
  group-anagrams/EGON.py
  implement-trie-prefix-tree/EGON.py
  word-break/EGON.py
Labels: py

#458 [Sophia] Week5 Solution
  best-time-to-buy-and-sell-stock/seona926.js
Labels: js

#460 [pepper] Week 5 Solutions
  3sum/whewchews.ts
  best-time-to-buy-and-sell-stock/whewchews.ts
  group-anagrams/whewchews.ts
  implement-trie-prefix-tree/whewchews.ts
  word-break/whewchews.ts
Labels: ts

#461 [gitsunmin] Week 5 Solutions
  best-time-to-buy-and-sell-stock/gitsunmin.ts
  group-anagrams/gitsunmin.ts
Labels: ts

#454 [jaejeong1] week 5
  best-time-to-buy-and-sell-stock/jaejeong1.java
  group-anagrams/jaejeong1.java
Labels: java

#467 [EGON] Week 6 Solutions
  container-with-most-water/EGON.py
  design-add-and-search-words-data-structure/EGON.py
  longest-increasing-subsequence/EGON.py
  spiral-matrix/EGON.py
  valid-parentheses/EGON.py
Labels: py

#468 [강희찬] WEEK 6 Solution
  container-with-most-water/HC-kang.ts
  design-add-and-search-words-data-structure/HC-kang.ts
  longest-increasing-subsequence/HC-kang.ts
  spiral-matrix/HC-kang.ts
  valid-parentheses/HC-kang.ts
Labels: ts

#464 [Flynn] Week6
  container-with-most-water/flynn.cpp
  design-add-and-search-words-data-structure/flynn.cpp
  longest-increasing-subsequence/flynn.cpp
  spiral-matrix/flynn.cpp
  valid-parentheses/flynn.cpp
Labels: c++

#474 [혜준] Week6 문제풀이
  valid-parentheses/hyejjun.js
Labels: js

#478 [Flynn] Week 6 Sprial Matrix Refactor
  spiral-matrix/flynn.cpp
Labels: c++

#462 [재호] WEEK 06 Solutions
  container-with-most-water/wogha95.js
  design-add-and-search-words-data-structure/wogha95.js
  longest-increasing-subsequence/wogha95.js
  spiral-matrix/wogha95.js
  valid-parentheses/wogha95.js
Labels: js

#476 [선재] WEEK06 문제 풀이
  container-with-most-water/sunjae95.js
  longest-increasing-subsequence/sunjae95.js
  spiral-matrix/sunjae95.js
  valid-parentheses/sunjae95.js
Labels: js

#466 [jaejeong1] Week 6
  container-with-most-water/jaejeong1.java
  design-add-and-search-words-data-structure/jaejeong1.java
  valid-parentheses/jaejeong1.java
Labels: java

#472 [haklee] week 6
  container-with-most-water/haklee.py
  design-add-and-search-words-data-structure/haklee.py
  spiral-matrix/haklee.py
  valid-parentheses/haklee.py
Labels: py

#477 [kayden] Week 06 Solutions
  container-with-most-water/kayden.py
  design-add-and-search-words-data-structure/kayden.py
  longest-increasing-subsequence/kayden.py
  spiral-matrix/kayden.py
  valid-parentheses/kayden.py
Labels: py

#465 [TONY] WEEK 06 Solutions
  container-with-most-water/TonyKim9401.java
  design-add-and-search-words-data-structure/TonyKim9401.java
  longest-increasing-subsequence/TonyKim9401.java
  spiral-matrix/TonyKim9401.java
  valid-parentheses/TonyKim9401.java
Labels: java

#470 [gitsunmin] Week 6 Solutions
  container-with-most-water/gitsunmin.ts
  design-add-and-search-words-data-structure/gitsunmin.ts
  longest-increasing-subsequence/gitsunmin.ts
  spiral-matrix/gitsunmin.ts
  valid-parentheses/gitsunmin.ts
Labels: ts

#480 [환미니니] Week6 문제풀이
  container-with-most-water/hwanmini.js
  design-add-and-search-words-data-structure/hwanmini.js
  spiral-matrix/hwanmini.js
  valid-parentheses/hwanmini.js
Labels: js

#475 [정현준] 6주차 답안 제출
  container-with-most-water/jdalma.kt
  design-add-and-search-words-data-structure/jdalma.kt
  longest-increasing-subsequence/jdalma.kt
  valid-parentheses/jdalma.kt
Labels: kotlin

#469 [윤태권] Week6 문제 풀이
  container-with-most-water/taekwon-dev.java
  design-add-and-search-words-data-structure/taekwon-dev.java
  valid-parentheses/taekwon-dev.java
Labels: java

#471 [mangodm-web] Week 06 Solutions
  container-with-most-water/mangodm-web.py
  spiral-matrix/mangodm-web.py
  valid-parentheses/mangodm-web.py
Labels: py

#479 [pepper] Week 6 Solutions
  container-with-most-water/whewchews.ts
  design-add-and-search-words-data-structure/whewchews.ts
  spiral-matrix/whewchews.ts
  valid-parentheses/whewchews.ts
Labels: ts

#486 [Flynn] Week7
  longest-substring-without-repeating-characters/flynn.cpp
  number-of-islands/flynn.cpp
  reverse-linked-list/flynn.cpp
  set-matrix-zeroes/flynn.cpp
  unique-paths/flynn.cpp
Labels: c++

#497 [영우] Week7 Solutions
  longest-substring-without-repeating-characters/yeonguchoe.cpp
  number-of-islands/yeonguchoe.cpp
  reverse-linked-list/yeonguchoe.c
  set-matrix-zeroes/yeonguchoe.c
  unique-paths/yeonguchoe.cpp
Labels: c++, c

#496 [EGON] Week7 Solutions
  longest-substring-without-repeating-characters/EGON.py
  number-of-islands/EGON.py
  reverse-linked-list/EGON.py
  set-matrix-zeroes/EGON.py
  unique-paths/EGON.py
Labels: py

#487 [kayden] Week 07 Solutions
  longest-substring-without-repeating-characters/kayden.py
  number-of-islands/kayden.py
  reverse-linked-list/kayden.java
  set-matrix-zeroes/kayden.py
  unique-paths/kayden.py
Labels: py, java

#485 [TONY] WEEK 07 Solutions
  longest-substring-without-repeating-characters/TonyKim9401.java
  number-of-islands/TonyKim9401.java
  reverse-linked-list/TonyKim9401.java
  set-matrix-zeroes/TonyKim9401.java
  unique-paths/TonyKim9401.java
Labels: java

#484 [haklee] week 7
  longest-substring-without-repeating-characters/haklee.py
  number-of-islands/haklee.py
  reverse-linked-list/haklee.py
  set-matrix-zeroes/haklee.py
  unique-paths/haklee.py
Labels: py

#488 [정현준] 7주차
  longest-substring-without-repeating-characters/jdalma.kt
  number-of-islands/jdalma.kt
  reverse-linked-list/jdalma.kt
  set-matrix-zeroes/jdalma.kt
  unique-paths/jdalma.kt
Labels: kotlin

#495 [gitsunmin] Week 7 Solutions
  longest-substring-without-repeating-characters/gitsunmin.ts
  reverse-linked-list/gitsunmin.ts
Labels: ts

#493 [선재] WEEK07 문제풀이
  longest-substring-without-repeating-characters/sunjae95.js
  number-of-islands/sunjae95.js
  reverse-linked-list/sunjae95.js
  set-matrix-zeroes/sunjae95.js
  unique-paths/sunjae95.js
Labels: js

#481 [재호] WEEK 07 Solutions
  longest-substring-without-repeating-characters/wogha95.js
  number-of-islands/wogha95.js
  reverse-linked-list/wogha95.js
  set-matrix-zeroes/wogha95.js
  unique-paths/wogha95.js
Labels: js

#491 [강희찬] WEEK 7 Solution
  longest-substring-without-repeating-characters/HC-kang.ts
  number-of-islands/HC-kang.ts
  reverse-linked-list/HC-kang.ts
  set-matrix-zeroes/HC-kang.ts
  unique-paths/HC-kang.ts
Labels: ts

#482 [jaejeong1] WEEK 07 Solutions
  longest-substring-without-repeating-characters/jaejeong1.java
  number-of-islands/jaejeong1.java
  reverse-linked-list/jaejeong1.java
Labels: java

#489 [나리] WEEK 07 Solutions
  longest-substring-without-repeating-characters/naringst.py
  number-of-islands/naringst.py
  reverse-linked-list/naringst.py
Labels: py

#490 [환미니니] Week7 문제풀이
  longest-substring-without-repeating-characters/hwanmini.js
  number-of-islands/hwanmini.js
  reverse-linked-list/hwanmini.js
  set-matrix-zeroes/hwamini.js
Labels: js
