Repository DaleStudy/leetcode-study, pull requests merged in 2024-10, with the labels that each got.

#507 [EGON] Week8 Solutions
  clone-graph/EGON.py
  longest-common-subsequence/EGON.py
  longest-repeating-character-replacement/EGON.py
  merge-two-sorted-lists/EGON.py
  sum-of-two-integers/EGON.py
Labels: py

#505 [Flynn] Week 08
  clone-graph/flynn.cpp
  longest-common-subsequence/flynn.cpp
  longest-repeating-character-replacement/flynn.cpp
  merge-two-sorted-lists/flynn.cpp
  sum-of-two-integers/flynn.cpp
Labels: c++

#501 [TONY] Week 08 Solutions
  clone-graph/TonyKim9401.java
  longest-common-subsequence/TonyKim9401.java
  longest-repeating-character-replacement/TonyKim9401.java
  merge-two-sorted-lists/TonyKim9401.java
  sum-of-two-integers/TonyKim9401.java
Labels: java

#504 [정현준] 8주차 제출
  clone-graph/jdalma.kt
  longest-common-subsequence/jdalma.kt
  longest-repeating-character-replacement/jdalma.kt
  merge-two-sorted-lists/jdalma.kt
Labels: kotlin

#506 [haklee] week 8
  clone-graph/haklee.py
  longest-common-subsequence/haklee.py
  longest-repeating-character-replacement/haklee.py
  merge-two-sorted-lists/haklee.py
  sum-of-two-integers/haklee.py
Labels: py

#509 [환미니니] 8주차 문제풀이 제출
  clone-graph/hwanmini.js
  merge-two-sorted-lists/hwanmini.js
Labels: js

#502 [강희찬] WEEK 8 Solution
  clone-graph/HC-kang.ts
  longest-common-subsequence/HC-kang.ts
  longest-repeating-character-replacement/HC-kang.ts
  merge-two-sorted-lists/HC-kang.ts
  sum-of-two-integers/HC-kang.ts
Labels: ts

#513 [jaejeong1] Week 08 Solutions
  clone-graph/jaejeong1.java
  longest-repeating-character-replacement/jaejeong1.java
  merge-two-sorted-lists/jaejeong1.java
Labels: java

#512 [선재] WEEK08 Solution
  longest-repeating-character-replacement/sunjae95.js
  merge-two-sorted-lists/sunjae95.js
Labels: js

#511 [kayden] Week 08 Solutions
  clone-graph/kayden.py
  longest-common-subsequence/kayden.py
  longest-consecutive-sequence/kayden.py
  longest-repeating-character-replacement/kayden.py
  merge-two-sorted-lists/kayden.py
  sum-of-two-integers/kayden.java
Labels: py, java

#500 [재호] WEEK 08 Solutions
  clone-graph/wogha95.js
  longest-common-subsequence/wogha95.js
  longest-repeating-character-replacement/wogha95.js
  merge-two-sorted-lists/wogha95.js
  sum-of-two-integers/wogha95.js
Labels: js

#508 [mangodm-web] Week 08 Solutions
  longest-repeating-character-replacement/mangodm-web.py
  merge-two-sorted-lists/mangodm-web.py
Labels: py

#510 [gitsunmin] Week 8 Solutions
  merge-two-sorted-lists/gitsunmin.ts
Labels: ts

#520 [Flynn] Week 09
  find-minimum-in-rotated-sorted-array/flynn.go
  linked-list-cycle/flynn.go
  maximum-subarray/flynn.go
  minimum-window-substring/flynn.go
  pacific-atlantic-water-flow/flynn.go
Labels: go

#521 [정현준] 9주차
  find-minimum-in-rotated-sorted-array/jdalma.kt
  linked-list-cycle/jdalma.kt
  merge-intervals/jdalma.kt
  pacific-atlantic-water-flow/jdalma.kt
Labels: kotlin

#518 [Tony] WEEK 09 Solutions
  find-minimum-in-rotated-sorted-array/TonyKim9401.java
  linked-list-cycle/TonyKim9401.java
  maximum-subarray/TonyKim9401.java
  minimum-window-substring/TonyKim9401.java
  pacific-atlantic-water-flow/TonyKim9401.java
Labels: java

#524 [mangodm-web] Week 09 Solutions
  find-minimum-in-rotated-sorted-array/mangodm-web.py
  linked-list-cycle/mangodm-web.py
Labels: py

#526 [kayden] Week 09 Solutions
  find-minimum-in-rotated-sorted-array/kayden.py
  linked-list-cycle/kayden.py
  maximum-subarray/kayden.py
  minimum-window-substring/kayden.py
  pacific-atlantic-water-flow/kayden.py
Labels: py

#515 [선재] WEEK09 Solution
  find-minimum-in-rotated-sorted-array/sunjae95.js
  linked-list-cycle/sunjae95.js
  maximum-subarray/sunjae95.js
  minimum-window-substring/sunjae.js
  pacific-atlantic-water-flow/sunjae95.js
Labels: js

#525 [EGON]] Week9 Solutions
  find-minimum-in-rotated-sorted-array/EGON.py
  linked-list-cycle/EGON.py
  maximum-product-subarray/EGON.py
  maximum-subarray/EGON.py
  minimum-window-substring/EGON.py
  pacific-atlantic-water-flow/EGON.py
Labels: py

#527 [gitsunmin] Week 09 Solutions
  find-minimum-in-rotated-sorted-array/gitsunmin.ts
  linked-list-cycle/gitsunmin.ts
  pacific-atlantic-water-flow/gitsunmin.ts
Labels: ts

#519 [강희찬] WEEK 9 Solution
  find-minimum-in-rotated-sorted-array/HC-kang.ts
  linked-list-cycle/HC-kang.ts
  maximum-subarray/HC-kang.ts
  minimum-window-substring/HC-kang.ts
  pacific-atlantic-water-flow/HC-kang.ts
Labels: ts

#522 [jaejeong1] WEEK 09 Solutions
  find-minimum-in-rotated-sorted-array/jaejeong1.java
  linked-list-cycle/jaejeong1.java
Labels: java

#516 [재호] WEEK 09 Solutions
  find-minimum-in-rotated-sorted-array/wogha95.js
  linked-list-cycle/wogha95.js
  maximum-subarray/wogha95.js
  pacific-atlantic-water-flow/wogha95.js
Labels: js

#494 [sun] WEEK7
  longest-substring-without-repeating-characters/sun912.py
  number-of-islands/sun912.py
  reverse-linked-list/sun912.py
Labels: py

#528 [환미니니] Week9 Solutions
  find-minimum-in-rotated-sorted-array/hwanmini.js
  linked-list-cycle/hwanmini.js
  maximum-subarray/hwanmini.js
Labels: js

#533 [Flynn] Week 10
  course-schedule/flynn.go
  invert-binary-tree/flynn.go
  jump-game/flynn.go
  merge-k-sorted-lists/flynn.go
  search-in-rotated-sorted-array/flynn.go
Labels: go

#532 [강희찬] WEEK 10 Solution
  course-schedule/HC-kang.ts
  invert-binary-tree/HC-kang.ts
  jump-game/HC-kang.ts
  merge-k-sorted-lists/HC-kang.ts
  search-in-rotated-sorted-array/HC-kang.ts
Labels: ts

#534 [Tony] WEEK 10 Solutions
  course-schedule/TonyKim9401.java
  invert-binary-tree/TonyKim9401.java
  jump-game/TonyKim9401.java
  merge-k-sorted-lists/TonyKim9401.java
  search-in-rotated-sorted-array/TonyKim9401.java
Labels: java

#536 [haklee] week 10
  course-schedule/haklee.py
  invert-binary-tree/haklee.py
  jump-game/haklee.py
  merge-k-sorted-lists/haklee.py
  search-in-rotated-sorted-array/haklee.py
Labels: py

#537 [선재] WEEK10 Solutions
  course-schedule/sunjae95.js
  invert-binary-tree/sunjae95.js
  jump-game/sunjae95.js
  merge-k-sorted-lists/sunjae95.js
  search-in-rotated-sorted-array/sunjae95.js
Labels: js

#538 [정현준] 10주차
  course-schedule/jdalma.kt
  invert-binary-tree/jdalma.kt
  jump-game/jdalma.kt
  merge-k-sorted-lists/jdalma.kt
  search-in-rotated-sorted-array/jdalma.kt
Labels: kotlin

#540 [gitsunmin] Week 10 Solutions
  invert-binary-tree/gitsunmin.ts
Labels: ts

#539 [kayden] Week 10 Solutions
  course-schedule/kayden.py
  invert-binary-tree/kayden.py
  jump-game/kayden.py
  merge-k-sorted-lists/kayden.py
  search-in-rotated-sorted-array/kayden.py
Labels: py

#530 [재호] WEEK 10 Solutions
  course-schedule/wogha95.js
  invert-binary-tree/wogha95.js
  jump-game/wogha95.js
  search-in-rotated-sorted-array/wogha95.js
Labels: js

#541 [환미니니] Week10 Solutions
  invert-binary-tree/hwanmini.js
  jump-game/hwanmini.js
  search-in-rotated-sorted-array/hwanmini.js
Labels: js

#543 [mangodm-web] Week10 Solutions
  course-schedule/ mangodm-web.py
  invert-binary-tree/mangodm-web.py
  search-in-rotated-sorted-array/ mangodm-web.py
Labels: py

#551 [jaejeong1] WEEK 11 Solutions
  invert-binary-tree/jaejeong1.java
  maximum-depth-of-binary-tree/jaejeong1.java
  reorder-list/jaejeong1.java
Labels: java

#548 [Flynn] week 11
  binary-tree-maximum-path-sum/flynn.go
  graph-valid-tree/flynn.go
  insert-interval/flynn.go
  maximum-depth-of-binary-tree/flynn.go
  reorder-list/flynn.go
Labels: go

#546 [강희찬] WEEK 11 Solution
  binary-tree-maximum-path-sum/HC-kang.ts
  graph-valid-tree/HC-kang.ts
  insert-interval/HC-kang.ts
  maximum-depth-of-binary-tree/HC-kang.ts
  reorder-list/HC-kang.ts
Labels: ts

#547 [Tony] WEEK 11 Solutions
  binary-tree-maximum-path-sum/TonyKim9401.java
  graph-valid-tree/TonyKim9401.java
  insert-interval/TonyKim9401.java
  maximum-depth-of-binary-tree/TonyKim9401.java
  reorder-list/TonyKim9401.java
Labels: java

#550 [haklee] week 11
  binary-tree-maximum-path-sum/haklee.py
  graph-valid-tree/haklee.py
  insert-interval/haklee.py
  maximum-depth-of-binary-tree/haklee.py
  reorder-list/haklee.py
Labels: py

#557 Fix: 깨진 문자열 수정
  search-in-rotated-sorted-array/mangodm-web.py
Labels: py

#549 [정현준] 11주차
  binary-tree-maximum-path-sum/jdalma.kt
  graph-valid-tree/jdalma.kt
  insert-interval/jdalma.kt
  maximum-depth-of-binary-tree/jdalma.kt
  reorder-list/jdalma.kt
Labels: kotlin

#555 [ gitsunmin] WEEK11 Solutions
  maximum-depth-of-binary-tree/gitsunmin.ts
  reorder-list/gitsunmin.ts
Labels: ts

#561 깨진 파일 이름 수정
  course-schedule/mangodm-web.py
Labels: py

#553 [선재] WEEK11 Solutions
  maximum-depth-of-binary-tree/sunjae95.js
  reorder-list/sunjae95.js
Labels: js

#545 [재호] WEEK 11 Solutions
  insert-interval/wogha95.js
  maximum-depth-of-binary-tree/wogha95.js
  reorder-list/wogha95.js
Labels: js

#552 [환미니니] Week11 Solutions
  graph-valid-tree/hwanmini.js
  maximum-depth-of-binary-tree/hwanmini.js
Labels: js

#556 [mangodm-web] Week11 Solutions
  graph-valid-tree/mangodm-web.py
  maximum-depth-of-binary-tree/mangodm-web.py
  reorder-list/mangodm-web.py
Labels: py

#554 [EGON] Week11 Solutions
  binary-tree-maximum-path-sum/EGON.py
  graph-valid-tree/EGON.py
  insert-interval/EGON.py
  maximum-depth-of-binary-tree/EGON.py
  reorder-list/EGON.py
Labels: py
