Repository DaleStudy/leetcode-study, pull requests merged in 2025-07, with the labels that each got.

#1616 [Tessa1217] Week 13 Solutions
  find-median-from-data-stream/Tessa1217.java
  insert-interval/Tessa1217.java
  kth-smallest-element-in-a-bst/Tessa1217.java
  lowest-common-ancestor-of-a-binary-search-tree/Tessa1217.java
  meeting-rooms/Tessa1217.java
Labels: java

#1608 [eunhwa99] Week13 Solutions
  counting-bits/eunhwa99.kt
  find-median-from-data-stream/eunhwa99.kt
  insert-interval/eunhwa99.kt
  kth-smallest-element-in-a-bst/eunhwa99.kt
  lowest-common-ancestor-of-a-binary-search-tree/eunhwa99.kt
  meeting-rooms/eunhwa99.java
Labels: java, kotlin

#1627 [sora0319] Week13 Solutions
  find-median-from-data-stream/sora0319.java
  insert-interval/sora0319.java
  kth-smallest-element-in-a-bst/sora0319.java
  lowest-common-ancestor-of-a-binary-search-tree/sora0319.java
  meeting-rooms/sora0319.java
Labels: java

#1628 [printjin-gmailcom] Week 14 Solutions
  binary-tree-level-order-traversal/printjin-gmailcom.py
  counting-bits/printjin-gmailcom.py
  house-robber-ii/printjin-gmailcom.py
  meeting-rooms-ii/printjin-gmailcom.py
  word-search-ii/printjin-gmailcom.py
Labels: py

#1630 [yyyyyyyyyKim] WEEK 14 solutions
  binary-tree-level-order-traversal/yyyyyyyyyKim.py
  counting-bits/yyyyyyyyyKim.py
  house-robber-ii/yyyyyyyyyKim.py
  meeting-rooms-ii/yyyyyyyyyKim.py
  word-search-ii/yyyyyyyyyKim.py
Labels: py

#1631 [byol-han] WEEK 14 solutions
  counting-bits/byol-han.js
Labels: js

#1634 [shinsj4653] Week 14 Solutions
  binary-tree-level-order-traversal/shinsj4653.py
  counting-bits/shinsj4653.py
  house-robber-ii/shinsj4653.py
  meeting-rooms-ii/shinsj4653.py
  word-search-ii/shinsj4653.py
Labels: py

#1636 [soobing] WEEK14 Solutions
  binary-tree-level-order-traversal/soobing.ts
  counting-bits/soobing.ts
  house-robber/soobing.ts
  meeting-rooms-ii/soobing.ts
  word-search-ii/soobing.ts
Labels: ts

#1644 [crumbs22] Week 14 Solutions
  binary-tree-level-order-traversal/crumbs22.cpp
  counting-bits/crumbs22.cpp
  house-robber-ii/crumbs22.cpp
  meeting-rooms-ii/crumbs22.cpp
Labels: c++

#1642 [PDKhan] WEEK 14 solutions
  binary-tree-level-order-traversal/PDKhan.cpp
  counting-bits/PDKhan.cpp
  house-robber-ii/PDKhan.cpp
  meeting-rooms-ii/PDKhan.cpp
  word-search-ii/PDKhan.cpp
Labels: c++

#1645 [hsskey] Week 14 Solutions
  binary-tree-level-order-traversal/hsskey.js
  counting-bits/hsskey.js
  house-robber-ii/hsskey.js
  meeting-rooms-ii/hsskey.js
  word-search-ii/hsskey.js
Labels: js

#1633 [minji-go] week 14 solutions
  binary-tree-level-order-traversal/minji-go.java
  counting-bits/minji-go.java
  house-robber-ii/minji-go.java
  linked-list-cycle/minji-go.java
  maximum-product-subarray/minji-go.java
  minimum-window-substring/minji-go.java
  pacific-atlantic-water-flow/minji-go.java
  sum-of-two-integers/minji-go.java
  word-search-ii/minji-go.java
Labels: java

#1639 [hi-rachel] Week 14 Solutions
  binary-tree-level-order-traversal/hi-rachel.py
  binary-tree-level-order-traversal/hi-rachel.ts
  counting-bits/hi-rachel.py
  counting-bits/hi-rachel.ts
  house-robber-ii/hi-rachel.py
  house-robber-ii/hi-rachel.ts
  meeting-rooms-ii/hi-rachel.py
Labels: py, ts

#1651 [PDKhan] WEEK 15 solutions
  alien-dictionary/PDKhan.cpp
  construct-binary-tree-from-preorder-and-inorder-traversal/PDKhan.cpp
  longest-palindromic-substring/PDKhan.cpp
  rotate-image/PDKhan.cpp
  subtree-of-another-tree/PDKhan.cpp
Labels: c++

#1646 [hoyeongkwak] Week14 Solutions
  binary-tree-level-order-traversal/hoyeongkwak.ts
  counting-bits/hoyeongkwak.ts
  house-robber-ii/hoyeongkwak.ts
  word-search-ii/hoyeongkwak.ts
Labels: ts

#1657 [minji-go] week 15 solutions
  clone-graph/minji-go.java
  construct-binary-tree-from-preorder-and-inorder-traversal/minji-go.java
  find-minimum-in-rotated-sorted-array/minji-go.java
  longest-common-subsequence/minji-go.java
  longest-palindromic-substring/minji-go.java
  longest-repeating-character-replacement/minji-go.java
  maximum-depth-of-binary-tree/minji-go.java
  number-of-1-bits/minji-go.java
  rotate-image/minji-go.java
  set-matrix-zeroes/minji-go.java
  subtree-of-another-tree/minji-go.java
Labels: java

#1656 [byol-han] WEEK 15 solutions
  binary-tree-level-order-traversal/byol-han.js
  construct-binary-tree-from-preorder-and-inorder-traversal/byol-han.js
  house-robber-ii/byol-han.js
  longest-palindromic-substring/byol-han.js
  subtree-of-another-tree/byol-han.js
Labels: js

#1655 [yyyyyyyyyKim] WEEK 15 solutions
  alien-dictionary/yyyyyyyyyKim.py
  construct-binary-tree-from-preorder-and-inorder-traversal/yyyyyyyyyKim.py
  longest-palindromic-substring/yyyyyyyyyKim.py
  rotate-image/yyyyyyyyyKim.py
  subtree-of-another-tree/yyyyyyyyyKim.py
Labels: py

#1659 [soobing] WEEK15 Solutions
  alien-dictionary/soobing.ts
  construct-binary-tree-from-preorder-and-inorder-traversal/soobing.ts
  longest-palindromic-substring/soobing.ts
  rotate-image/soobing.ts
  subtree-of-another-tree/soobing.ts
Labels: ts

#1663 [uraflower] Week 15 Solutions
  alien-dictionary/uraflower.js
  construct-binary-tree-from-preorder-and-inorder-traversal/uraflower.js
  longest-palindromic-substring/uraflower.js
  rotate-image/uraflower.js
  subtree-of-another-tree/uraflower.js
Labels: js

#1661 [KwonNayeon] Week 15 Solutions
  binary-tree-level-order-traversal/KwonNayeon.py
  construct-binary-tree-from-preorder-and-inorder-traversal/KwonNayeon.py
  longest-palindromic-substring/KwonNayeon.py
  subtree-of-another-tree/KwonNayeon.py
Labels: py

#1660 [Tessa1217] Week 15 Solutions
  alien-dictionary/Tessa1217.java
  construct-binary-tree-from-preorder-and-inorder-traversal/Tessa1217.java
  longest-palindromic-substring/Tessa1217.java
  rotate-image/Tessa1217.java
  subtree-of-another-tree/Tessa1217.java
Labels: java

#1665 [hoyeongkwak] Week15 Solutions
  construct-binary-tree-from-preorder-and-inorder-traversal/hoyeongkwak.ts
  longest-palindromic-substring/hoyeongkwak.ts
  rotate-image/hoyeongkwak.ts
  subtree-of-another-tree/hoyeongkwak.ts
Labels: ts

#1658 [Jeehay28] WEEK 15 Solutions
  construct-binary-tree-from-preorder-and-inorder-traversal/Jeehay28.ts
  longest-palindromic-substring/Jeehay28.ts
  rotate-image/Jeehay28.ts
  subtree-of-another-tree/Jeehay28.ts
Labels: ts

#1664 [seungriyou] Week 15 Solutions
  alien-dictionary/seungriyou.py
  construct-binary-tree-from-preorder-and-inorder-traversal/seungriyou.py
  longest-palindromic-substring/seungriyou.py
  rotate-image/seungriyou.py
  subtree-of-another-tree/seungriyou.py
Labels: py

#1666 [hsskey] Week 15 Solutions
  alien-dictionary/hsskey.js
  construct-binary-tree-from-preorder-and-inorder-traversal/hsskey.js
  longest-palindromic-substring/hsskey.js
  rotate-image/hsskey.js
  subtree-of-another-tree/hsskey.js
Labels: js

#1653 [printjin-gmailcom] WEEK 15 solutions
  alien-dictionary/printjin-gmailcom.py
  construct-binary-tree-from-preorder-and-inorder-traversal/printjin-gmailcom.py
  longest-palindromic-substring/printjin-gmailcom.py
  rotate-image/printjin-gmailcom.py
  subtree-of-another-tree/printjin-gmailcom.py
Labels: py

#1669 update : add new team's info
  README.md
Labels: maintenance

#1670 체크 리스트에서 불필요한 항목 제거
  .github/pull_request_template.md
Labels: maintenance

#1668 Create taurus09318976.py
  construct-binary-tree-from-preorder-and-inorder-traversal/taurus09318976.py
  subtree-of-another-tree/taurus09318976.py
Labels: py

#1671 [grapefruitgreentealoe] Week 01 Solutions
  contains-duplicate/grapefruitgreentealoe.js
  house-robber/grapefruitgreentealoe.js
  longest-consecutive-sequence/grapefruitgreentealoe.js
  top-k-frequent-elements/grapefruitgreentealoe.js
  two-sum/grapefruitgreentealoe.js
Labels: js

#1707 [Yg-cho] WEEK 01 Solutions
  contains-duplicate/Yg-cho.js
  longest-consecutive-sequence/Yg-cho.js
  top-k-frequent-elements/Yg-cho.js
  two-sum/Yg-cho.js
Labels: js

#1691 [geegong] WEEK 01 solutions
  contains-duplicate/Geegong.java
  longest-consecutive-sequence/Geegong.java
  top-k-frequent-elements/Geegong.java
  two-sum/Geegong.java
Labels: java

#1696 [SeongA] WEEK 01 solutions
  contains-duplicate/delight010.swift
  house-robber/delight010.swift
  longest-consecutive-sequence/delight010.swift
  top-k-frequent-elements/delight010.swift
  two-sum/delight010.swift
Labels: swift

#1715 [wozlsla] WEEK 01 solutions
  contains-duplicate/wozlsla.py
  longest-consecutive-sequence/wozlsla.py
  top-k-frequent-elements/wozlsla.py
  two-sum/wozlsla.py
Labels: py

#1673 [jeongyunjae] WEEK 01 solutions
  contains-duplicate/jeongyunjae.py
  house-robber/jeongyunjae.py
  longest-consecutive-sequence/jeongyunjae.py
  top-k-frequent-elements/jeongyunjae.py
  two-sum/jeongyunjae.py
Labels: py

#1676 [hu6r1s] WEEK 01 solutions
  contains-duplicate/hu6r1s.py
  house-robber/hu6r1s.py
  longest-consecutive-sequence/hu6r1s.py
  top-k-frequent-elements/hu6r1s.py
  two-sum/hu6r1s.py
Labels: py

#1718 [rlawjd10] WEEK 01 solutions
  contains-duplicate/rlawjd10.c
  house-robber/rlawjd10.cpp
  longest-consecutive-sequence/rlawjd10.cpp
  top-k-frequent-elements/rlawjd10.cpp
  two-sum/rlawjd10.c
Labels: c++, c

#1709 [s0ooo0k] WEEK 01 solutions
  contains-duplicate/s0ooo0k.java
  two-sum/s0ooo0k.java
Labels: java

#1686 [jun0811] WEEK 01 solutions
  contains-duplicate/jun0811.js
  house-robber/jun0811.js
  longest-common-subsequence/jun0811.js
  number-of-1-bits/jun0811.js
  top-k-frequent-elements/jun0811.js
  two-sum/jun0811.js
Labels: js

#1682 [Kyojin-Hwang] WEEK 01 solutions
  contains-duplicate/Kyojin-Hwang.js
  top-k-frequent-elements/Kyojin-Hwang.js
  two-sum/Kyojin-Hwang.js
Labels: js

#1723 [hyogshin] WEEK 01 solutions
  contains-duplicate/hyogshin.py
  house-robber/hyogshin.py
  longest-consecutive-sequence/hyogshin.py
  top-k-frequent-elements/hyogshin.py
  two-sum/hyogshin.py
Labels: py

#1713 [nancyel] WEEK 01 solutions
  contains-duplicate/nancyel.ts
  house-robber/nancyel.ts
  longest-consecutive-sequence/nancyel.ts
  top-k-frequent-elements/nancyel.ts
  two-sum/nancyel.ts
Labels: ts

#1708 [chrisjune] week 01 solutions
  contains-duplicate/chrisjune.py
  house-robber/chrisjune.py
  longest-consecutive-sequence/chrisjune.py
  top-k-frequent-elements/chrisjune.py
  two-sum/chrisjune.py
Labels: py

#1699 [rara-record] WEEK 01 solutions
  contains-duplicate/rara-record.py
  longest-consecutive-sequence/rara-record.py
  top-k-frequent-elements/rara-record.py
  two-sum/rara-record.py
Labels: py

#1725 [Grit03] WEEK 01 solutions
  contains-duplicate/Grit03.js
Labels: js

#1711 [SAM] WEEK 01 Solutions
  contains-duplicate/SamTheKorean.go
Labels: go

#1726 [suhyenim] WEEK01 solutions
  contains-duplicate/suhyenim.java
  top-k-frequent-elements/suhyenim.java
  two-sum/suhyenim.java
Labels: java

#1712 [jangwonyoon] WEEK 01 solutions
  contains-duplicate/jangwonyoon.js
  longest-consecutive-sequence/jangwonyoon.js
  top-k-frequent-elements/jangwonyoon.js
  two-sum/jangwonyoon.js
Labels: js

#1672 [renovziee] WEEK 01 Solutions
  contains-duplicate/renovizee.java
  house-robber/renovizee.java
  longest-consecutive-sequence/renovizee.java
  top-k-frequent-elements/renovizee.java
  two-sum/renovizee.java
Labels: java

#1714 [sooooo-an] WEEK 01 solutions
  contains-duplicate/sooooo-an.ts
  longest-consecutive-sequence/sooooo-an.ts
  top-k-frequent-elements/sooooo-an.ts
  two-sum/sooooo-an.ts
Labels: ts

#1697 [JEONGBEOMKO] WEEK 01 solutions
  contains-duplicate/jeongbeomko.java
  two-sum/JEONGBEOMKO.java
Labels: java

#1719 [hoyeongkwak] Week1 Solutions
  contains-duplicate/hoyeongkwak.java
  house-robber/hoyeongkwak.java
  longest-consecutive-sequence/hoyeongkwak.java
  top-k-frequent-elements/hoyeongkwak.java
  two-sum/hoyeongkwak.java
Labels: java

#1678 [jongwanra] WEEK 01 solutions
  contains-duplicate/jongwanra.py
  house-robber/jongwanra.py
  longest-consecutive-sequence/jongwanra.py
  top-k-frequent-elements/jongwanra.py
  two-sum/jongwanra.py
Labels: py

#1689 [hyer0705] WEEK 01 solutions
  contains-duplicate/hyer0705.ts
  house-robber/hyer0705.ts
  longest-consecutive-sequence/hyer0705.ts
  top-k-frequent-elements/hyer0705.ts
  two-sum/hyer0705.ts
Labels: ts

#1701 [shinheekim] WEEK 01 solutions
  contains-duplicate/shinheekim.java
  two-sum/shinheekim.java
Labels: java

#1700 [rivkode] WEEK 01 solutions
  contains-duplicate/rivkode.py
  house-robber/rivkode.py
  longest-consecutive-sequence/rivkode.py
  top-k-frequent-elements/rivkode.py
  two-sum/rivkode.py
Labels: py

#1721 [chordpli] Week 1 Solutions
  contains-duplicate/chordpli.py
  two-sum/chordpli.py
Labels: py

#1685 [reach0908] WEEK 01 solutions
  contains-duplicate/reach0908.js
  house-robber/reach0908.js
  longest-consecutive-sequence/reach0908.js
  top-k-frequent-elements/reach0908.js
  two-sum/reach0908.js
Labels: js

#1693 [DaleSeo] WEEK01 solutions
  contains-duplicate/DaleSeo.rs
Labels: rust

#1727 [Lustellz] WEEK 01 solutions
  contains-duplicate/Lustellz.ts
  two-sum/Lustellz.ts
Labels: ts

#1705 [bskkimm] WEEK 01 solutions
  contains-duplicate/bskkimm.py
  house-robber/bskkimm.py
  longest-consecutive-sequence/bskkimm.py
  top-k-frequent-elements/bskkimm.py
  valid-palindrome/bskkimm.py
Labels: py

#1692 [jiunshinn] WEEK01 solutions
  contains-duplicate/jiunshinn.py
  two-sum/jiunshinn.py
Labels: py
