Repository DaleStudy/leetcode-study, pull requests merged in 2025-03, with the labels that each got.

#1049 [jdy8739] week 12
  non-overlapping-intervals/jdy8739.js
  remove-nth-node-from-end-of-list/jdy8739.js
  same-tree/jdy8739.js
Labels: js

#1058 [Lyla] Week 12
  graph-valid-tree/pmjuu.py
  non-overlapping-intervals/pmjuu.py
  number-of-connected-components-in-an-undirected-graph/pmjuu.py
  remove-nth-node-from-end-of-list/pmjuu.py
  same-tree/pmjuu.py
Labels: py

#1053 [ganu] Week 12
  non-overlapping-intervals/gwbaik9717.js
  remove-nth-node-from-end-of-list/gwbaik9717.js
  same-tree/gwbaik9717.js
  serialize-and-deserialize-binary-tree/gwbaik9717.js
Labels: js

#1052 [bus710] Week 12
  same-tree/bus710.go
Labels: go

#1057 [mallayon] Week 12
  non-overlapping-intervals/mmyeon.ts
  number-of-connected-components-in-an-undirected-graph/mmyeon.ts
  remove-nth-node-from-end-of-list/mmyeon.ts
  same-tree/mmyeon.ts
Labels: ts

#1050 [KwonNayeon] Week 12
  non-overlapping-intervals/KwonNayeon.py
  remove-nth-node-from-end-of-list/KwonNayeon.py
  same-tree/KwonNayeon.py
Labels: py

#1061 [SunaDu] Week 12
  non-overlapping-intervals/dusunax.py
  number-of-connected-components-in-an-undirected-graph/dusunax.py
  remove-nth-node-from-end-of-list/dusunax.py
  same-tree/dusunax.py
Labels: py

#1055 [Chaedie] Week 12
  non-overlapping-intervals/Chaedie.py
  number-of-connected-components-in-an-undirected-graph/Chaedie.py
  remove-nth-node-from-end-of-list/Chaedie.py
  same-tree/Chaedie.py
  serialize-and-deserialize-binary-tree/Chaedie.py
Labels: py

#1063 [gomgom22] Week12
  graph-valid-tree/Yjason-K.ts
  non-overlapping-intervals/Yjason-K.ts
  number-of-connected-components-in-an-undirected-graph/Yjason-K.ts
  remove-nth-node-from-end-of-list/Yjason-K.ts
  same-tree/Yjason-K.ts
Labels: ts

#1059 [YeomChaeeun] Week 12
  non-overlapping-intervals/YeomChaeeun.ts
  remove-nth-node-from-end-of-list/YeomChaeeun.ts
  same-tree/YeomChaeeun.ts
Labels: ts

#1051 [moonhyeok] Week 12
  remove-nth-node-from-end-of-list/mike2ox.ts
  same-tree/mike2ox.ts
Labels: ts

#1054 [Jeehay28] WEEK 12
  non-overlapping-intervals/Jeehay28.js
  remove-nth-node-from-end-of-list/Jeehay28.js
  same-tree/Jeehay28.js
  serialize-and-deserialize-binary-tree/Jeehay28.js
Labels: js

#1056 [친환경사과] week 12
  remove-nth-node-from-end-of-list/EcoFriendlyAppleSu.kt
  same-tree/EcoFriendlyAppleSu.kt
Labels: kotlin

#1060 [forest000014] Week 12
  non-overlapping-intervals/forest000014.java
  number-of-connected-components-in-an-undirected-graph/forest000014.java
  remove-nth-node-from-end-of-list/forest000014.java
  same-tree/forest000014.java
Labels: java

#1062 [Helena] Week 12
  non-overlapping-intervals/yolophg.py
  number-of-connected-components-in-an-undirected-graph/yolophg.py
  remove-nth-node-from-end-of-list/yolophg.py
  same-tree/yolophg.py
  serialize-and-deserialize-binary-tree/yolophg.py
Labels: py

#1064 [jj7779607] Week12
  same-tree/limlimjo.js
Labels: js

#1065 [donghyeon95] Week 12
  remove-nth-node-from-end-of-list/donghyeon95.java
  same-tree/donghyeon95.java
Labels: java

#1066 [Ackku] week 12
  non-overlapping-intervals/imsosleepy.java
  number-of-connected-components-in-an-undirected-graph/imsosleepy.java
  remove-nth-node-from-end-of-list/imsosleepy.java
  same-tree/imsosleepy.java
  serialize-and-deserialize-binary-tree/imsosleepy.java
Labels: java

#1082 라이선스 + 스폰서 🩷
  .github/FUNDING.yml
  LICENSE
Labels: maintenance

#1067 [jdy8739] week 13
  kth-smallest-element-in-a-bst/jdy8739.js
  lowest-common-ancestor-of-a-binary-search-tree/jdy8739.js
  meeting-rooms/jdy8739.js
Labels: js

#1069 [mallayon] Week 13
  insert-interval/mmyeon.ts
  kth-smallest-element-in-a-bst/mmyeon.ts
  lowest-common-ancestor-of-a-binary-search-tree/mmyeon.ts
  meeting-rooms/mmyeon.ts
  merge-intervals/mmyeon.ts
Labels: ts

#1077 [ganu] Week 13
  find-median-from-data-stream/gwbaik9717.js
  insert-interval/gwbaik9717.js
  kth-smallest-element-in-a-bst/gwbaik9717.js
  lowest-common-ancestor-of-a-binary-search-tree/gwbaik9717.js
Labels: js

#1084 [gomgom22] Week13
  insert-interval/Yjason-K.ts
  kth-smallest-element-in-a-bst/Yjason-K.ts
  lowest-common-ancestor-of-a-binary-search-tree/Yjason-K.ts
  meeting-rooms/Yjason-K.ts
Labels: ts

#1068 [KwonNayeon] Week 13
  insert-interval/KwonNayeon.py
  kth-smallest-element-in-a-bst/KwonNayeon.py
  lowest-common-ancestor-of-a-binary-search-tree/KwonNayeon.py
  meeting-rooms/KwonNayeon.py
Labels: py

#1073 [SunaDu] Week 13
  insert-interval/dusunax.py
  kth-smallest-element-in-a-bst/dusunax.py
  lowest-common-ancestor-of-a-binary-search-tree/dusunax.py
  meeting-rooms/dusunax.py
Labels: py

#1071 [YeomChaeeun] Week 13
  insert-interval/YeomChaeeun.ts
  kth-smallest-element-in-a-bst/YeomChaeeun.ts
  lowest-common-ancestor-of-a-binary-search-tree/YeomChaeeun.ts
Labels: ts

#1072 [bus710] Week 13
  meeting-rooms/bus710.go
Labels: go

#1074 [Lyla] Week 13
  insert-interval/pmjuu.py
  kth-smallest-element-in-a-bst/pmjuu.py
  lowest-common-ancestor-of-a-binary-search-tree/pmjuu.py
  meeting-rooms/pmjuu.py
Labels: py

#1086 [suwi] week 13
  meeting-rooms/sungjinwi.py
Labels: py

#1075 [moonhyeok] Week 13
  insert-interval/mike2ox.ts
  lowest-common-ancestor-of-a-binary-search-tree/mike2ox.ts
  two-sum/mike2ox.ts
Labels: ts

#1078 [Chaedie] Week 13
  kth-smallest-element-in-a-bst/Chaedie.py
  lowest-common-ancestor-of-a-binary-search-tree/Chaedie.py
  meeting-rooms/Chaedie.py
Labels: py

#1079 [친환경사과] week13
  kth-smallest-element-in-a-bst/EcoFriendlyAppleSu.kt
  lowest-common-ancestor-of-a-binary-search-tree/EcoFriendlyAppleSu.kt
  meeting-rooms/EcoFriendlyAppleSu.kt
Labels: kotlin

#1080 [forest000014] Week 13
  find-median-from-data-stream/forest000014.java
  insert-interval/forest000014.java
  kth-smallest-element-in-a-bst/forest000014.java
  lowest-common-ancestor-of-a-binary-search-tree/forest000014.java
  meeting-rooms/forest000014.java
Labels: java

#1081 [jj7779607] Week13
  lowest-common-ancestor-of-a-binary-search-tree/limlimjo.js
  meeting-rooms/limlimjo.js
Labels: js

#1083 [Ackku] Week 13
  find-median-from-data-stream/imsosleepy.java
  insert-interval/imsosleepy.java
  kth-smallest-element-in-a-bst/imsosleepy.java
  lowest-common-ancestor-of-a-binary-search-tree/imsosleepy.java
  meeting-rooms/imsosleepy.java
Labels: java

#1085 [yeoju] Week 13
  lowest-common-ancestor-of-a-binary-search-tree/aa601.py
  maximum-depth-of-binary-tree/aa601.py
  meeting-rooms/aa601.py
Labels: py

#1087 [anniemon87] Week 13
  kth-smallest-element-in-a-bst/anniemon.js
  lowest-common-ancestor-of-a-binary-search-tree/anniemon.js
  meeting-rooms/anniemon.js
Labels: js

#1088 [Helena] Week 13
  find-median-from-data-stream/yolophg.py
  insert-interval/yolophg.py
  kth-smallest-element-in-a-bst/yolophg.py
  lowest-common-ancestor-of-a-binary-search-tree/yolophg.py
  meeting-rooms/yolophg.py
Labels: py

#1089 [jdy8739] Week 14
  binary-tree-level-order-traversal/jdy8739.js
  counting-bits/jdy8739.js
  house-robber-ii/jdy8739.js
Labels: js

#1102 [gomgom22] Week14
  binary-tree-level-order-traversal/Yjason-K.ts
  counting-bits/Yjason-K.ts
  house-robber-ii/Yjason-K.ts
Labels: ts

#1098 [ganu] Week 14
  binary-tree-level-order-traversal/gwbaik9717.js
  counting-bits/gwbaik9717.js
  house-robber-ii/gwbaik9717.js
  word-search-ii/gwbaik9717.js
Labels: js

#1090 [KwonNayeon] Week 14
  binary-tree-level-order-traversal/KwonNayeon.py
  counting-bits/KwonNayeon.py
  house-robber-ii/KwonNayeon.py
  meeting-rooms-ii/KwonNayeon.py
Labels: py

#1099 [SunaDu] Week 14
  binary-tree-level-order-traversal/dusunax.py
  counting-bits/dusunax.py
  house-robber-ii/dusunax.py
  meeting-rooms-ii/dusunax.py
  meeting-rooms/dusunax.py
Labels: py

#1096 [forest000014] Week 14
  binary-tree-level-order-traversal/forest000014.java
  counting-bits/forest000014.java
  house-robber-ii/forest000014.java
  meeting-rooms-ii/forest000014.java
  subtree-of-another-tree/forest000014.java
  word-search-ii/forest000014.java
Labels: java

#1095 [Lyla] Week 14
  binary-tree-level-order-traversal/pmjuu.py
  counting-bits/pmjuu.py
  house-robber-ii/pmjuu.py
  meeting-rooms-ii/pmjuu.py
  word-search-ii/pmjuu.py
Labels: py

#1091 [YeomChaeeun] Week 14
  binary-tree-level-order-traversal/YeomChaeeun.ts
  counting-bits/YeomChaeeun.ts
  find-median-from-data-stream/YeomChaeeun.ts
Labels: ts

#1100 [yeoju] Week 14
  counting-bits/aa601.py
  house-robber-ii/aa601.py
Labels: py

#1104 [Chaedie] Week 14
  binary-tree-level-order-traversal/Chaedie.py
  counting-bits/Chaedie.py
Labels: py

#1093 [jj7779607] Week14
  counting-bits/limlimjo.js
Labels: js

#1094 [Jeehay28] WEEK 14
  binary-tree-level-order-traversal/Jeehay28.js
  counting-bits/Jeehay28.js
  house-robber-ii/Jeehay28.js
  word-search-ii/Jeehay28.js
Labels: js

#1097 [bus710] Week 14
  counting-bits/bus710.go
Labels: go

#1103 [Helena] Week 14
  binary-tree-level-order-traversal/yolophg.py
  counting-bits/yolophg.py
  house-robber-ii/yolophg.py
  meeting-rooms-ii/yolophg.py
  word-search-ii/yolophg.py
Labels: py

#1108 [jdy8739] Week 15
  rotate-image/jdy8739.js
  subtree-of-another-tree/jdy8739.js
  validate-binary-search-tree/jdy8739.js
Labels: js

#1112 [ganu] WEEK 15
  longest-palindromic-substring/gwbaik9717.js
  rotate-image/gwbaik9717.js
  subtree-of-another-tree/gwbaik9717.js
  validate-binary-search-tree/gwbaik9717.js
Labels: js

#1117 [bus710] Week 15
  subtree-of-another-tree/bus710.go
Labels: go

#1119 [gomgom22] Week15
  construct-binary-tree-from-preorder-and-inorder-traversal/Yjason-K.ts
  rotate-image/Yjason-K.ts
  subtree-of-another-tree/Yjason-K.ts
Labels: ts

#1107 [KwonNayeon] Week 15
  longest-palindromic-substring/KwonNayeon.py
  rotate-image/KwonNayeon.py
  subtree-of-another-tree/KwonNayeon.py
  validate-binary-search-tree/KwonNayeon.py
Labels: py

#1115 [mallayon] Week 15
  longest-palindromic-substring/mmyeon.ts
  rotate-image/mmyeon.ts
  subtree-of-another-tree/mmyeon.ts
  validate-binary-search-tree/mmyeon.ts
Labels: ts

#1111 [Jeehay28] WEEK 15
  longest-palindromic-substring/Jeehay28.js
  subtree-of-another-tree/Jeehay28.js
  validate-binary-search-tree/Jeehay28.js
Labels: js

#1118 [Chaedie] Week 15
  longest-palindromic-substring/Chaedie.py
  rotate-image/Chaedie.py
  subtree-of-another-tree/Chaedie.py
Labels: py

#1120 [jj7779607] Week15
  subtree-of-another-tree/limlimjo.js
Labels: js

#1121 [Ackku] week 15
  alien-dictionary/imsosleepy.java
  longest-palindromic-substring/imsosleepy.java
  rotate-image/imsosleepy.java
  subtree-of-another-tree/imsosleepy.java
  validate-binary-search-tree/imsosleepy.java
Labels: java

#1122 [Helena] Week 15
  alien-dictionary/yolophg.py
  design-add-and-search-words-data-structure/yolophg.py
  subtree-of-another-tree/yolophg.py
  validate-binary-search-tree/yolophg.py
Labels: py

#1123 README.md에 스터디 4기 정보 추가
  README.md
Labels: maintenance

#1124 변경된 코드 리뷰 방향 PR 템플릿에 반영
  .github/pull_request_template.md
Labels: maintenance

#1125 CODEOWNERS 파일 삭제
  .github/CODEOWNERS
Labels: maintenance
