Repository DaleStudy/leetcode-study, pull requests merged in 2025-05, with the labels that each got.

#1392 [clara-shin] WEEK 05 solutions
  best-time-to-buy-and-sell-stock/clara-shin.js
  encode-and-decode-strings/clara-shin.js
  group-anagrams/clara-shin.js
  implement-trie-prefix-tree/clara-shin.js
  word-break/clara-shin.js
  word-search/clara-shin.js
Labels: js, javascript

#1382 [uraflower] WEEK 05 Solutions
  best-time-to-buy-and-sell-stock/uraflower.js
  encode-and-decode-strings/uraflower.js
  group-anagrams/uraflower.js
  implement-trie-prefix-tree/uraflower.js
  word-break/uraflower.js
Labels: js

#1383 [i-mprovising] Week 05 solution
  best-time-to-buy-and-sell-stock/i-mprovising.py
  group-anagrams/i-mprovising.py
  implement-trie-prefix-tree/i-mprovising.py
  word-break/i-mprovising.py
Labels: py

#1405 [Tessa1217] Week 05 Solution
  best-time-to-buy-and-sell-stock/Tessa1217.java
  encode-and-decode-strings/Tessa1217.java
  group-anagrams/Tessa1217.java
  implement-trie-prefix-tree/Tessa1217.java
  word-break/Tessa1217.java
Labels: java

#1403 [minji-go] week 05 solutions
  best-time-to-buy-and-sell-stock/minji-go.java
  group-anagrams/minji-go.java
  implement-trie-prefix-tree/minji-go.java
  validate-binary-search-tree/minji-go.java
  word-break/minji-go.java
Labels: java

#1384 [HoonDongKang] Week 5 Solutions
  best-time-to-buy-and-sell-stock/HoonDongKang.ts
  encode-and-decode-strings/HoonDongKang.ts
  group-anagrams/HoonDongKang.ts
  implement-trie-prefix-tree/HoonDongKang.ts
  word-break/HoonDongKang.ts
Labels: ts

#1390 [JANGSEYEONG] WEEK 05 solutions
  best-time-to-buy-and-sell-stock/JANGSEYEONG.js
  encode-and-decode-strings/JANGSEYEONG.js
  group-anagrams/JANGSEYEONG.js
  implement-trie-prefix-tree/JANGSEYEONG.js
  word-break/JANGSEYEONG.js
Labels: js

#1389 [hsskey] Week 05 Solutions
  best-time-to-buy-and-sell-stock/hsskey.js
  encode-and-decode-strings/hsskey.js
  group-anagrams/hsskey.js
  implement-trie-prefix-tree/hsskey.js
  word-break/hsskey.js
Labels: js

#1410 [doitduri] Week 05 Solution
  best-time-to-buy-and-sell-stock/doitduri.swift
  group-anagrams/doitduri.swift
  implement-trie-prefix-tree/doitduri.swift
  word-break/doitduri.swift
Labels: swift

#1394 [jiji-hoon96] WEEK 05 solutions
  best-time-to-buy-and-sell-stock/jiji-hoon96.ts
  encode-and-decode-strings/jiji-hoon96.ts
  group-anagrams/jiji-hoon96.ts
  implement-trie-prefix-tree/jiji-hoon96.ts
  word-break/jiji-hoon96.ts
Labels: ts

#1385 [byol-han] WEEK 05 solutions
  best-time-to-buy-and-sell-stock/byol-han.js
  group-anagrams/byol-han.js
  word-break/byol-han.js
Labels: js

#1386 [yyyyyyyyyKim] WEEK 05 solutions
  best-time-to-buy-and-sell-stock/yyyyyyyyyKim.py
  encode-and-decode-strings/yyyyyyyyyKim.py
  group-anagrams/yyyyyyyyyKim.py
  implement-trie-prefix-tree/yyyyyyyyyKim.py
  word-break/yyyyyyyyyKim.py
Labels: py

#1391 [river20s] WEEK 05 solutions
  best-time-to-buy-and-sell-stock/river20s.py
  group-anagrams/river20s.py
  implement-trie-prefix-tree/river20s.py
  word-break/river20s.py
Labels: py

#1399 [sora0319] Week 05 Solutions
  best-time-to-buy-and-sell-stock/sora0319.java
  encode-and-decode-strings/sora0319.java
  group-anagrams/sora0319.java
  implement-trie-prefix-tree/sora0319.java
  word-break/sora0319.java
Labels: java

#1387 [seungriyou] Week 05 Solutions
  best-time-to-buy-and-sell-stock/seungriyou.py
  encode-and-decode-strings/seungriyou.py
  group-anagrams/seungriyou.py
  implement-trie-prefix-tree/seungriyou.py
  word-break/seungriyou.py
Labels: py

#1379 [soobing] Week 05 Solutions
  encode-and-decode-strings/soobing.ts
  group-anagrams/soobing.ts
  implement-trie-prefix-tree/soobing.ts
  word-break/soobing.ts
Labels: ts

#1400 [moonjonghoo] Week 05 Solutions
  best-time-to-buy-and-sell-stock/moonjonghoo.js
  group-anagrams/moonjonghoo.js
  word-break/moonjonghoo.js
Labels: js

#1398 [sejineer] Week 05 solutions
  best-time-to-buy-and-sell-stock/sejineer.py
  group-anagrams/sejineer.py
  implement-trie-prefix-tree/sejineer.py
  word-break/sejineer.py
Labels: py

#1393 [ayosecu] WEEK 05 Solutions
  best-time-to-buy-and-sell-stock/ayosecu.py
  encode-and-decode-strings/ayosecu.py
  group-anagrams/ayosecu.py
  implement-trie-prefix-tree/ayosecu.py
  word-break/ayosecu.py
Labels: py

#1407 [krokerdile] Week 05 Solution
  best-time-to-buy-and-sell-stock/krokerdile.js
  encode-and-decode-strings/krokerdile.js
  group-anagrams/krokerdile.js
  implement-trie-prefix-tree/krokerdile.js
  word-break/krokerdile.js
Labels: js

#1395 [lhc0506] WEEK 05 solutions
  best-time-to-buy-and-sell-stock/lhc0506.js
  encode-and-decode-strings/lhc0506.js
  group-anagrams/lhc0506.js
  implement-trie-prefix-tree/lhc0506.js
  word-break/lhc0506.js
Labels: js

#1412 [taurus09318976] WEEK 05 Solutions
  best-time-to-buy-and-sell-stock/taurus09318976.py
  encode-and-decode-strings/taurus09318976.py
  group-anagrams/taurus09318976.py
  implement-trie-prefix-tree/taurus09318976.py
  word-break/taurus09318976.py
Labels: py

#1401 [hi-rachel] Week 05 Solutions
  best-time-to-buy-and-sell-stock/hi-rachel.py
  encode-and-decode-strings/hi-rachel.py
  group-anagrams/hi-rachel.py
  group-anagrams/hi-rachel.ts
  implement-trie-prefix-tree/hi-rachel.py
  implement-trie-prefix-tree/hi-rachel.ts
  word-break/hi-rachel.ts
Labels: py, ts

#1377 [shinsj4653] Week 05 Solutions
  best-time-to-buy-and-sell-stock/shinsj4653.py
  encode-and-decode-strings/shinsj4653.py
  group-anagrams/shinsj4653.py
  implement-trie-prefix-tree/shinsj4653.py
  word-break/shinsj4653.py
Labels: py

#1380 [YoungSeok-Choi] Week 5 Solutions
  best-time-to-buy-and-sell-stock/YoungSeok-Choi.java
  encode-and-decode-strings/YoungSeok-Choi.java
  group-anagrams/YoungSeok-Choi.java
  implement-trie-prefix-tree/YoungSeok-Choi.java
  word-break/YoungSeok-Choi.java
Labels: java

#1396 [hoyeongkwak] Week 05 Solutions
  best-time-to-buy-and-sell-stock/hoyeongkwak.ts
  group-anagrams/hoyeongkwak.ts
  implement-trie-prefix-tree/hoyeongkwak.ts
  word-break/hoyeongkwak.ts
Labels: ts

#1404 [JustHm] Week 05 Solution
  best-time-to-buy-and-sell-stock/JustHm.swift
  implement-trie-prefix-tree/JustHm.swift
Labels: swift

#1388 [haung921209] Week 05 Solutions
  best-time-to-buy-and-sell-stock/haung921209.md
  group-anagrams/haung921209.md
Labels: c++

#1421 [seungriyou] Week 06 Solutions
  container-with-most-water/seungriyou.py
  design-add-and-search-words-data-structure/seungriyou.py
  longest-increasing-subsequence/seungriyou.py
  spiral-matrix/seungriyou.py
  valid-parentheses/seungriyou.py
Labels: py

#1413 [sungjinwi] Week 05 Solution
  best-time-to-buy-and-sell-stock/sungjinwi.cpp
  group-anagrams/sungjinwi.cpp
Labels: c++

#1409 [YoungSeok-Choi] week 6 solutions
  container-with-most-water/YoungSeok-Choi.java
  design-add-and-search-words-data-structure/YoungSeok-Choi.java
  implement-trie-prefix-tree/YoungSeok-Choi.java
  longest-increasing-subsequence/YoungSeok-Choi.java
  spiral-matrix/YoungSeok-Choi.java
  valid-parentheses/YoungSeok-Choi.java
Labels: java

#1444 [moonjonghoo] Week 06 Solutions
  container-with-most-water/moonjonghoo.js
  design-add-and-search-words-data-structure/moonjonghoo.js
  valid-parentheses/moonjonghoo.js
Labels: js

#1420 [clara-shin] WEEK 06 solutions
  container-with-most-water/clara-shin.js
  design-add-and-search-words-data-structure/clara-shin.js
  longest-increasing-subsequence/clara-shin.js
  spiral-matrix/clara-shin.js
  valid-parentheses/clara-shin.js
Labels: js, javascript

#1445 [sukyoungshin] WEEK 06
  container-with-most-water/sukyoungshin.ts
  design-add-and-search-words-data-structure/sukyoungshin.ts
  valid-parentheses/sukyoungshin.ts
Labels: ts

#1432 [doitduri] WEEK 06 solutions
  container-with-most-water/doitduri.swift
  design-add-and-search-words-data-structure/doitduri.swift
  longest-increasing-subsequence/doitduri.swift
  spiral-matrix/doitduri.swift
  valid-parentheses/doitduri.swift
Labels: swift

#1423 [lhc0506] WEEK 06 solutions
  container-with-most-water/lhc0506.js
  design-add-and-search-words-data-structure/lhc0506.js
  longest-increasing-subsequence/lhc0506.js
  spiral-matrix/lhc0506.js
  valid-parentheses/lhc0506.js
Labels: js

#1422 [PDKhan] WEEK 06 solutions
  container-with-most-water/PDKhan.cpp
  design-add-and-search-words-data-structure/PDKhan.cpp
  longest-increasing-subsequence/PDKhan.cpp
  spiral-matrix/PDKhan.cpp
  valid-parentheses/PDKhan.cpp
Labels: c++

#1436 [i-mprovising] Week 06 solutions
  container-with-most-water/i-mprovising.py
  design-add-and-search-words-data-structure/i-mprovising.py
  longest-increasing-subsequence/i-mprovising.py
  spiral-matrix/i-mprovising.py
  valid-parentheses/i-mprovising.py
Labels: py

#1431 [yyyyyyyyyKim] WEEK 06 solutions
  container-with-most-water/yyyyyyyyyKim.py
  design-add-and-search-words-data-structure/yyyyyyyyyKim.py
  longest-increasing-subsequence/yyyyyyyyyKim.py
  spiral-matrix/yyyyyyyyyKim.py
  valid-parentheses/yyyyyyyyyKim.py
Labels: py

#1433 [HoonDongKang] WEEK 06 solutions
  container-with-most-water/HoonDongKang.ts
  design-add-and-search-words-data-structure/HoonDongKang.ts
  longest-increasing-subsequence/HoonDongKang.ts
  spiral-matrix/HoonDongKang.ts
  valid-parentheses/HoonDongKang.ts
Labels: ts

#1437 [jinhyungrhee] week 06 solutions
  container-with-most-water/jinhyungrhee.java
  design-add-and-search-words-data-structure/jinhyungrhee.java
  longest-increasing-subsequence/jinhyungrhee.java
  spiral-matrix/jinhyungrhee.java
  valid-parentheses/jinhyungrhee.java
Labels: java

#1435 [ayosecu] Week 6 solutions
  container-with-most-water/ayosecu.py
  design-add-and-search-words-data-structure/ayosecu.py
  longest-increasing-subsequence/ayosecu.py
  spiral-matrix/ayosecu.py
  valid-parentheses/ayosecu.py
Labels: py

#1429 [Jeehay28] WEEK06 Solutions
  container-with-most-water/Jeehay28.ts
  design-add-and-search-words-data-structure/Jeehay28.ts
  longest-increasing-subsequence/Jeehay28.ts
  spiral-matrix/Jeehay28.ts
  valid-parentheses/Jeehay28.ts
Labels: ts

#1415 [sejineer] Week 06 solutions
  container-with-most-water/sejineer.py
  design-add-and-search-words-data-structure/sejineer.py
  longest-increasing-subsequence/sejineer.py
  spiral-matrix/sejineer.py
  valid-parentheses/sejineer.py
Labels: py

#1428 [minji-go] week 06 solutions
  combination-sum/minji-go.java
  container-with-most-water/minji-go.java
  decode-ways/minji-go.java
  design-add-and-search-words-data-structure/minji-go.java
  longest-increasing-subsequence/minji-go.java
  number-of-1-bits/minji-go.java
  spiral-matrix/minji-go.java
  valid-palindrome/minji-go.java
  valid-parentheses/minji-go.java
Labels: java

#1441 [hsskey] Week 06 Solutions
  container-with-most-water/hsskey.js
  design-add-and-search-words-data-structure/hsskey.js
  longest-increasing-subsequence/hsskey.js
  spiral-matrix/hsskey.js
  valid-parentheses/hsskey.js
Labels: js

#1417 [shinsj4653] Week 06 Solutions
  container-with-most-water/shinsj4653.py
  design-add-and-search-words-data-structure/shinsj4653.py
  longest-increasing-subsequence/shinsj4653.py
  spiral-matrix/shinsj4653.py
  valid-parentheses/shinsj4653.py
Labels: py

#1414 [printjin-gmailcom] Week 06 Solution
  container-with-most-water/printjin-gmailcom.py
  design-add-and-search-words-data-structure/printjin-gmailcom.py
  longest-increasing-subsequence/printjin-gmailcom.py
  spiral-matrix/printjin-gmailcom.py
  valid-parentheses/printjin-gmailcom.py
Labels: py

#1430 [byol-han] WEEK 06 solutions
  container-with-most-water/byol-han.js
  design-add-and-search-words-data-structure/byol-han.js
  longest-increasing-subsequence/byol-han.js
  spiral-matrix/byol-han.js
  valid-parentheses/byol-han.js
Labels: js

#1434 [KwonNayeon] Week 6 solutions
  valid-palindrome/KwonNayeon.py
  valid-parentheses/KwonNayeon.py
Labels: py

#1418 [hi-rachel] Week 06 Solutions
  container-with-most-water/hi-rachel.py
  container-with-most-water/hi-rachel.ts
  design-add-and-search-words-data-structure/hi-rachel.py
  design-add-and-search-words-data-structure/hi-rachel.ts
  longest-increasing-subsequence/hi-rachel.py
  longest-increasing-subsequence/hi-rachel.ts
  spiral-matrix/hi-rachel.py
  valid-parentheses/hi-rachel.ts
Labels: py, ts

#1448 [taurus09318976.py] WEEK 06 Solutions
  container-with-most-water/taurus09318976.py
  design-add-and-search-words-data-structure/taurus09318976.py
  longest-increasing-subsequence/taurus09318976.py
  spiral-matrix/taurus09318976.py
  valid-parentheses/taurus09318976.py
Labels: py

#1419 [river20s] WEEK 06 solutions
  container-with-most-water/river20s.py
  design-add-and-search-words-data-structure/river20s.py
  longest-increasing-subsequence/river20s.py
  valid-parentheses/river20s.py
Labels: py

#1425 [soobing] WEEK 06 Solutions
  container-with-most-water/soobing.ts
  design-add-and-search-words-data-structure/soobing.ts
  longest-increasing-subsequence/soobing.ts
  spiral-matrix/soobing.ts
  valid-parentheses/soobing.ts
Labels: ts

#1443 [crumbs22] Week 06 solutions
  container-with-most-water/crumbs22.cpp
  design-add-and-search-words-data-structure/crumbs22.cpp
  longest-increasing-subsequence/crumbs22.cpp
  valid-parentheses/crumbs22.cpp
Labels: c++

#1426 [Tessa1217] Week 06 Solutions
  container-with-most-water/Tessa1217.java
  design-add-and-search-words-data-structure/Tessa1217.java
  longest-increasing-subsequence/Tessa1217.java
  spiral-matrix/Tessa1217.java
  valid-parentheses/Tessa1217.java
Labels: java

#1416 [iam-edwin] WEEK 02 solutions
  3sum/iam-edwin.java
  climbing-stairs/iam-edwin.java
  product-of-array-except-self/iam-edwin.java
  valid-anagram/iam-edwin.java
  validate-binary-search-tree/iam-edwin.java
Labels: java

#1424 [uarflower] WEEK 06 solutions
  container-with-most-water/uraflower.js
  design-add-and-search-words-data-structure/uraflower.js
  longest-increasing-subsequence/uraflower.js
  spiral-matrix/uraflower.js
  valid-parentheses/uraflower.js
Labels: js

#1427 [RiaOh] Week 06 solutions
  best-time-to-buy-and-sell-stock/RiaOh.js
  container-with-most-water/RiaOh.js
  valid-parentheses/RiaOh.js
Labels: js

#1453 [printjin-gmailcom] Week 7 Solutions
  longest-substring-without-repeating-characters/printjin-gmailcom.py
  number-of-islands/printjin-gmailcom.py
  reverse-linked-list/printjin-gmailcom.py
  set-matrix-zeroes/printjin-gmailcom.py
  unique-paths/printjin-gmailcom.py
Labels: py

#1450 [sora0319] WEEK 06 Solutions
  container-with-most-water/sora0319.java
  design-add-and-search-words-data-structure/sora0319.java
  longest-increasing-subsequence/sora0319.java
  spiral-matrix/sora0319.java
  valid-parentheses/sora0319.java
Labels: java

#1411 [JANGSEYEONG] WEEK 06 solutions
  container-with-most-water/JANGSEYEONG.js
  design-add-and-search-words-data-structure/JANGSEYEONG.js
  longest-increasing-subsequence/JANGSEYEONG.js
  spiral-matrix/JANGSEYEONG.js
  valid-parentheses/JANGSEYEONG.js
Labels: js

#1454 [PDKhan] WEEK 07 solutions
  longest-substring-without-repeating-characters/PDKhan.cpp
  number-of-islands/PDKhan.cpp
  reverse-linked-list/PDKhan.cpp
  set-matrix-zeroes/PDKhan.cpp
  unique-paths/PDKhan.cpp
Labels: c++

#1440 [sounmind] WEEK 6 SOLUTIONS
  container-with-most-water/sounmind.js
  container-with-most-water/sounmind.py
Labels: py, js

#1438 [JustHm] Week 06 Solutions
  valid-parentheses/JustHm.swift
Labels: swift

#1446 [krokerdile] Week 06 solutions
  container-with-most-water/krokerdile.js
  design-add-and-search-words-data-structure/krokerdile.js
  longest-increasing-subsequence/krokerdile.js
  spiral-matrix/krokerdile.js
  valid-parentheses/krokerdile.js
Labels: js

#1447 [sungjinwi] Week 06 solution
  container-with-most-water/sungjinwi.cpp
  design-add-and-search-words-data-structure/sungjinwi.cpp
  longest-increasing-subsequence/sungjinwi.cpp
  spiral-matrix/sungjinwi.cpp
  valid-parentheses/sungjinwi.cpp
Labels: c++

#1469 [ayosecu] Week 07 Solutions
  longest-substring-without-repeating-characters/ayosecu.py
  number-of-islands/ayosecu.py
  reverse-linked-list/ayosecu.py
  set-matrix-zeroes/ayosecu.py
  unique-paths/ayosecu.py
Labels: py

#1466 [seungriyou] Week 07 Solutions
  longest-substring-without-repeating-characters/seungriyou.py
  number-of-islands/seungriyou.py
  reverse-linked-list/seungriyou.py
  set-matrix-zeroes/seungriyou.py
  unique-paths/seungriyou.py
Labels: py

#1463 [Tessa1217] Week 07 Solutions
  longest-substring-without-repeating-characters/Tessa1217.java
  number-of-islands/Tessa1217.java
  reverse-linked-list/Tessa1217.java
  set-matrix-zeroes/Tessa1217.java
  unique-paths/Tessa1217.java
Labels: java

#1459 [i-mprovising] Week 07 solutions
  longest-substring-without-repeating-characters/i-mprovising.py
  number-of-islands/i-mprovising.py
  reverse-linked-list/i-mprovising.py
  set-matrix-zeroes/i-mprovising.py
  unique-paths/i-mprovising.py
Labels: py

#1456 [jinhyungrhee] WEEK 07 solutions
  longest-substring-without-repeating-characters/jinhyungrhee.java
  number-of-islands/jinhyungrhee.java
  reverse-linked-list/jinhyungrhee.java
  set-matrix-zeroes/jinhyungrhee.java
  unique-paths/jinhyungrhee.java
Labels: java

#1464 [Jeehay28] Week 07 Solutions
  longest-substring-without-repeating-characters/Jeehay28.ts
  number-of-islands/Jeehay28.ts
  reverse-linked-list/Jeehay28.ts
  set-matrix-zeroes/Jeehay28.ts
  unique-paths/Jeehay28.ts
Labels: ts

#1467 [clara-shin] WEEK07 Solutions
  longest-substring-without-repeating-characters/clara-shin.js
  number-of-islands/clara-shin.js
  reverse-linked-list/clara-shin.js
  set-matrix-zeroes/clara-shin.js
  unique-paths/clara-shin.js
Labels: js, javascript

#1462 [yyyyyyyyyKim] WEEK 07 solutions
  longest-substring-without-repeating-characters/yyyyyyyyyKim.py
  number-of-islands/yyyyyyyyyKim.py
  reverse-linked-list/yyyyyyyyyKim.py
  set-matrix-zeroes/yyyyyyyyyKim.py
  unique-paths/yyyyyyyyyKim.py
Labels: py

#1474 [minji-go] week 07 solutions
  longest-substring-without-repeating-characters/minji-go.java
  number-of-islands/minji-go.java
  reverse-linked-list/minji-go.java
  unique-paths/minji-go.java
Labels: java

#1481 [hoyeongkwak] Week 07 Solutions
  container-with-most-water/hoyeongkwak.ts
  design-add-and-search-words-data-structure/hoyeongkwak.ts
  longest-increasing-subsequence/hoyeongkwak.ts
  longest-substring-without-repeating-characters/hoyeongkwak.ts
  number-of-islands/hoyeongkwak.ts
  reverse-linked-list/hoyeongkwak.ts
  set-matrix-zeroes/hoyeongkwak.ts
  spiral-matrix/hoyeongkwak.ts
  unique-paths/hoyeongkwak.ts
  valid-parentheses/hoyeongkwak.ts
Labels: ts

#1460 [HoonDongKang] Week 07 solutions
  longest-substring-without-repeating-characters/HoonDongKang.ts
  number-of-islands/HoonDongKang.ts
  reverse-linked-list/HoonDongKang.ts
  set-matrix-zeroes/HoonDongKang.ts
  unique-paths/HoonDongKang.ts
Labels: ts

#1484 [taurus09318976] WEEK 07 Solutions
  longest-substring-without-repeating-characters/taurus09318976.py
  number-of-islands/taurus09318976.py
  reverse-linked-list/taurus09318976.py
  set-matrix-zeroes/taurus09318976.py
  unique-paths/taurus09318976.py
Labels: py

#1477 [sora0319] Week 07 solutions
  longest-substring-without-repeating-characters/sora0319.java
  number-of-islands/sora0319.java
  reverse-linked-list/sora0319.java
  set-matrix-zeroes/sora0319.java
  unique-paths/sora0319.java
Labels: java

#1458 [moonjonghoo] Week 07 Solutions
  longest-substring-without-repeating-characters/moonjonghoo.js
  number-of-islands/moonjonghoo.js
  reverse-linked-list/moonjonghoo.js
Labels: js

#1461 [byol-han] WEEK 07 solutions
  longest-substring-without-repeating-characters/byol-han.js
  number-of-islands/byol-han.js
  reverse-linked-list/byol-han.js
  set-matrix-zeroes/byol-han.js
  unique-paths/byol-han.js
Labels: js

#1485 [hi-rachel] WEEK 07 Solutions
  longest-substring-without-repeating-characters/hi-rachel.py
  reverse-linked-list/hi-rachel.py
Labels: py

#1465 [soobing] WEEK07 Solutions
  longest-substring-without-repeating-characters/soobing.ts
  number-of-islands/soobing.ts
  reverse-linked-list/soobing.ts
  set-matrix-zeroes/soobing.ts
  unique-paths/soobing.ts
Labels: ts

#1439 [haung921209] Week 06 Solutions
  container-with-most-water/haung921209.md
  design-add-and-search-words-data-structure/haung921209.md
  valid-parentheses/haung921209.md
Labels: c++

#1451 [shinsj4653] Week 07 Solutions
  longest-substring-without-repeating-characters/shinsj4653.py
  number-of-islands/shinsj4653.py
  reverse-linked-list/shinsj4653.py
  set-matrix-zeroes/shinsj4653.py
  unique-paths/shinsj4653.py
Labels: py

#1452 [YoungSeok-Choi] Week 7 Solutions
  longest-substring-without-repeating-characters/YoungSeok-Choi.java
  number-of-islands/YoungSeok-Choi.java
  reverse-linked-list/YoungSeok-Choi.java
  set-matrix-zeroes/YoungSeok-Choi.java
  unique-paths/YoungSeok-Choi.java
Labels: java

#1455 [iam-edwin] WEEK 03 solutions
  combination-sum/iam-edwin.py
  number-of-1-bits/iam-edwin.py
  valid-palindrome/iam-edwin.py
Labels: py

#1472 [sounmind] week 7 solutions
  set-matrix-zeroes/sounmind.py
Labels: py

#1475 [sejineer] Week 07 solutions
  longest-substring-without-repeating-characters/sejineer.py
  number-of-islands/sejineer.py
  reverse-linked-list/sejineer.py
Labels: py

#1476 [doitduri] Week 07 solutions
  longest-substring-without-repeating-characters/doitduri.swift
  number-of-islands/doitduri.swift
  reverse-linked-list/doitduri.swift
  set-matrix-zeroes/doitduri.swift
  unique-paths/doitduri.swift
Labels: swift

#1480 [lhc0506] Week07 solutions
  longest-substring-without-repeating-characters/lhc0506.js
  number-of-islands/lhc0506.js
  reverse-linked-list/lhc0506.js
Labels: js

#1483 [krokerdile] WEEK 07 solutions
  longest-substring-without-repeating-characters/krokerdile.js
  number-of-islands/krokerdile.js
  reverse-linked-list/krokerdile.js
  set-matrix-zeroes/krokerdile.js
  unique-paths/krokerdile.js
Labels: js

#1482 [river20s] WEEK 07 solutions
  reverse-linked-list/river20s.cpp
Labels: c++

#1470 [KwonNayeon] Week 7 solutions
  longest-substring-without-repeating-characters/KwonNayeon.py
  number-of-islands/KwonNayeon.py
  reverse-bits/KwonNayeon.py
  reverse-linked-list/KwonNayeon.py
  set-matrix-zeroes/KwonNayeon.py
  unique-paths/KwonNayeon.py
Labels: py

#1478 [sungjinwi] Week07 solution
  longest-substring-without-repeating-characters/sungjinwi.cpp
  number-of-islands/sungjinwi.cpp
  reverse-linked-list/sungjinwi.cpp
  set-matrix-zeroes/sungjinwi.cpp
  unique-paths/sungjinwi.cpp
Labels: c++

#1487 [printjin-gmailcom] Week 8 solutions
  clone-graph/printjin-gmailcom.py
  longest-common-subsequence/printjin-gmailcom.py
  longest-repeating-character-replacement/printjin-gmailcom.py
  palindromic-substrings/printjin-gmailcom.py
  reverse-bits/printjin-gmailcom.py
Labels: py

#1479 [crumbs22] Week07 solutions
  reverse-linked-list/crumbs22.cpp
Labels: c++

#1491 [jinhyunghree] Week 8 solutions
  reverse-bits/jinhyungrhee.java
Labels: java

#1490 [PDKhan] WEEK 08 solutions
  clone-graph/PDKhan.cpp
  longest-common-subsequence/PDKhan.cpp
  longest-repeating-character-replacement/PDKhan.cpp
  palindromic-substrings/PDKhan.cpp
  reverse-bits/PDKhan.cpp
Labels: c++

#1493 [Jeehay28] Week 08 Solutions
  clone-graph/Jeehay28.ts
  longest-common-subsequence/Jeehay28.ts
  longest-repeating-character-replacement/Jeehay28.ts
  palindromic-substrings/Jeehay28.ts
  reverse-bits/Jeehay28.ts
Labels: ts

#1512 [hsskey] Week 08 Solutions
  clone-graph/hsskey.js
  longest-common-subsequence/hsskey.js
  longest-repeating-character-replacement/hsskey.js
  palindromic-substrings/hsskey.js
  reverse-bits/hsskey.js
Labels: js

#1503 [hi-rachel] Week 8 solutions
  clone-graph/hi-rachel.py
  longest-common-subsequence/hi-rachel.py
  longest-repeating-character-replacement/hi-rachel.py
  palindromic-substrings/hi-rachel.py
  reverse-bits/hi-rachel.py
Labels: py

#1506 [shinsj4653] Week 08 Solutions
  clone-graph/shinsj4653.py
  longest-common-subsequence/shinsj4653.py
  longest-repeating-character-replacement/shinsj4653.py
  palindromic-substrings/shinsj4653.py
  reverse-bits/shinsj4653.py
Labels: py

#1507 [river20s] WEEK 08 solutions
  clone-graph/river20s.py
  longest-repeating-character-replacement/river20s.py
  palindromic-substrings/river20s.py
  reverse-bits/river20s.py
Labels: py

#1502 [i-mprovising] Week 08 solutions
  clone-graph/i-mprovising.py
  longest-repeating-character-replacement/i-mprovising.py
  reverse-bits/i-mprovising.py
Labels: py

#1501 [KwonNayeon] Week 8 solutions
  clone-graph/KwonNayeon.py
  longest-common-subsequence/KwonNayeon.py
  longest-repeating-character-replacement/KwonNayeon.py
  palindromic-substrings/KwonNayeon.py
  reverse-bits/KwonNayeon.py
Labels: py

#1486 [eunhwa99] Week 8 solutions
  longest-common-subsequence/eunhwa99.java
  longest-repeating-character-replacement/eunhwa99.java
  palindromic-substrings/eunhwa99.java
Labels: java

#1488 [Tessa1217] Week 08 Solutions
  clone-graph/Tessa1217.java
  longest-common-subsequence/Tessa1217.java
  longest-repeating-character-replacement/Tessa1217.java
  palindromic-substrings/Tessa1217.java
  reverse-bits/Tessa1217.java
Labels: java

#1504 [seungriyou] Week 08 Solutions
  clone-graph/seungriyou.py
  longest-common-subsequence/seungriyou.py
  longest-repeating-character-replacement/seungriyou.py
  palindromic-substrings/seungriyou.py
  reverse-bits/seungriyou.py
Labels: py

#1513 [hoyeongkwak] Week 8 Solutions
  clone-graph/hoyeongkwak.ts
  longest-common-subsequence/hoyeongkwak.ts
  longest-repeating-character-replacement/hoyeongkwak.ts
  palindromic-substrings/hoyeongkwak.ts
  reverse-bits/hoyeongkwak.ts
Labels: ts

#1510 [crumbs22] Week08 Solutions
  clone-graph/crumbs22.cpp
  longest-repeating-character-replacement/crumbs22.cpp
  palindromic-substrings/crumbs22.cpp
  reverse-bits/crumbs22.cpp
Labels: c++

#1496 [yyyyyyyyyKim] WEEK 08 solutions
  clone-graph/yyyyyyyyyKim.py
  longest-common-subsequence/yyyyyyyyyKim.py
  longest-repeating-character-replacement/yyyyyyyyyKim.py
  palindromic-substrings/yyyyyyyyyKim.py
  reverse-bits/yyyyyyyyyKim.py
Labels: py

#1494 [clara-shin] Week 08 Solutions
  clone-graph/clara-shin.js
  longest-common-subsequence/clara-shin.js
  longest-repeating-character-replacement/clara-shin.js
  palindromic-substrings/clara-shin.js
  reverse-bits/clara-shin.js
Labels: js, javascript

#1514 [sora0319] Week 08 solutions
  clone-graph/sora0319.java
  longest-common-subsequence/sora0319.java
  longest-repeating-character-replacement/sora0319.java
  palindromic-substrings/sora0319.java
  reverse-bits/sora0319.java
Labels: java

#1442 [Yn3-3xh] WEEK 06 solutions
  valid-parentheses/Yn3-3xh.java
Labels: java

#1489 [YoungSeok-Choi] Week 8 solutions
  longest-repeating-character-replacement/YoungSeok-Choi.java
  reverse-bits/YoungSeok-Choi.java
Labels: java

#1498 [uraflower] Week 08 Solutions
  clone-graph/uraflower.js
  longest-common-subsequence/uraflower.js
  longest-repeating-character-replacement/uraflower.js
  palindromic-substrings/uraflower.js
  reverse-bits/uraflower.js
Labels: js

#1515 [taurus09318976] WEEK 08 Solutions
  longest-common-subsequence/taurus09318976.py
  palindromic-substrings/taurus09318976.py
Labels: py

#1495 [byol-han] WEEK 08 solutions
  longest-repeating-character-replacement/byol-han.js
  reverse-bits/byol-han.js
  reverse-linked-list/byol-han.js
Labels: js

#1527 [PDKhan] WEEK 09 solutions
  linked-list-cycle/PDKhan.cpp
  maximum-product-subarray/PDKhan.cpp
  minimum-window-substring/PDKhan.cpp
  pacific-atlantic-water-flow/PDKhan.cpp
  sum-of-two-integers/PDKhan.cpp
Labels: c++

#1524 [Tessa1217] Week 09 Solutions
  linked-list-cycle/Tessa1217.java
  maximum-product-subarray/Tessa1217.java
  minimum-window-substring/Tessa1217.java
  pacific-atlantic-water-flow/Tessa1217.java
  sum-of-two-integers/Tessa1217.java
Labels: java

#1517 [moonjonghoo] WEEK 09 Solutions
  linked-list-cycle/moonjonghoo.js
Labels: js

#1531 [ayosecu] Week 9 Solutions
  linked-list-cycle/ayosecu.py
  maximum-product-subarray/ayosecu.py
  minimum-window-substring/ayosecu.py
  pacific-atlantic-water-flow/ayosecu.py
  sum-of-two-integers/ayosecu.py
Labels: py

#1521 [Jeehay28] Week 09 Solutions
  linked-list-cycle/Jeehay28.ts
  maximum-product-subarray/Jeehay28.ts
  minimum-window-substring/Jeehay28.ts
  pacific-atlantic-water-flow/Jeehay28.ts
  sum-of-two-integers/Jeehay28.ts
Labels: ts

#1530 [HoonDongKang] Week 9 Solutions
  linked-list-cycle/HoonDongKang.ts
  maximum-product-subarray/HoonDongKang.ts
  minimum-window-substring/HoonDongKang.ts
  pacific-atlantic-water-flow/HoonDongKang.ts
  sum-of-two-integers/HoonDongKang.ts
Labels: ts

#1520 [yyyyyyyyyKim] WEEK 09 solutions
  linked-list-cycle/yyyyyyyyyKim.py
  maximum-product-subarray/yyyyyyyyyKim.py
  minimum-window-substring/yyyyyyyyyKim.py
  pacific-atlantic-water-flow/yyyyyyyyyKim.py
  sum-of-two-integers/yyyyyyyyyKim.py
Labels: py

#1518 [seungriyou] Week 09 Solutions
  linked-list-cycle/seungriyou.py
  maximum-product-subarray/seungriyou.py
  minimum-window-substring/seungriyou.py
  pacific-atlantic-water-flow/seungriyou.py
  sum-of-two-integers/seungriyou.py
Labels: py

#1536 [hi-rachel] WEEK 09 solutions
  sum-of-two-integers/hi-rachel.py
Labels: py

#1526 [clara-shin] WEEK09 Solutions
  linked-list-cycle/clara-shin.js
  maximum-product-subarray/clara-shin.js
  minimum-window-substring/clara-shin.js
  pacific-atlantic-water-flow/clara-shin.js
  sum-of-two-integers/clara-shin.js
Labels: js, javascript

#1516 [printjin-gmailcom] WEEK 09 Solutions
  linked-list-cycle/printjin-gmailcom.py
  maximum-product-subarray/printjin-gmailcom.py
  minimum-window-substring/printjin-gmailcom.py
  pacific-atlantic-water-flow/printjin-gmailcom.py
  sum-of-two-integers/printjin-gmailcom.py
Labels: py

#1528 [YoungSeok-Choi] Week 9 Solutions
  clone-graph/YoungSeok-Choi.java
  linked-list-cycle/YoungSeok-Choi.java
  longest-common-subsequence/YoungSeok-Choi.java
  maximum-product-subarray/YoungSeok-Choi.java
  minimum-window-substring/YoungSeok-Choi.java
  pacific-atlantic-water-flow/YoungSeok-Choi.java
  palindromic-substrings/YoungSeok-Choi.java
  sum-of-two-integers/YoungSeok-Choi.java
Labels: java

#1533 [river20s] WEEK 09 solutions
  linked-list-cycle/river20s.py
Labels: py
