Repository DaleStudy/leetcode-study, pull requests merged in 2025-09, with the labels that each got.

#1877 [DaleSeo] WEEK 06 solutions
  valid-parentheses/DaleSeo.rs
Labels: rust

#1874 [s0ooo0k] WEE6 Solutions
  container-with-most-water/s0ooo0k.java
  valid-parentheses/s0ooo0k.java
Labels: java

#1861 [youngduck] WEEK 06 solutions
  valid-parentheses/youngduck.js
Labels: js

#1875 [Lustellz] Week6 solution
  valid-parentheses/Lustellz.ts
Labels: ts

#1886 [hi-rachel] WEEK 07 solutions
  longest-substring-without-repeating-characters/hi-rachel.py
  number-of-islands/hi-rachel.py
  reverse-linked-list/hi-rachel.py
  set-matrix-zeroes/hi-rachel.py
  unique-paths/hi-rachel.py
Labels: py

#1879 [hyer0705] WEEK 07 solutions
  longest-substring-without-repeating-characters/hyer0705.ts
  number-of-islands/hyer0705.ts
  reverse-linked-list/hyer0705.ts
  set-matrix-zeroes/hyer0705.ts
  unique-paths/hyer0705.ts
Labels: ts

#1887 [hu6r1s] WEEK 07 Solutions
  longest-substring-without-repeating-characters/hu6r1s.py
  reverse-linked-list/hu6r1s.py
  set-matrix-zeroes/hu6r1s.py
  unique-paths/hu6r1s.py
Labels: py

#1883 [sonjh1217] WEEK 07 solutions
  longest-substring-without-repeating-characters/sonjh1217.swift
  reverse-linked-list/sonjh1217.swift
Labels: swift

#1891 [prograsshopper] week 7 solutions
  longest-substring-without-repeating-characters/prograsshopper.py
  reverse-linked-list/prograsshopper.py
Labels: py

#1885 [njngwn] WEEK 07 solutions
  longest-substring-without-repeating-characters/njngwn.java
  number-of-islands/njngwn.java
  set-matrix-zeroes/njngwn.java
  unique-paths/njngwn.java
Labels: java

#1902 [SeongA] WEEK08 Solution
  clone-graph/delight010.swift
  longest-common-subsequence/delight010.swift
  longest-substring-without-repeating-characters/delight010.swift
  palindromic-substrings/delight010.swift
  reverse-bits/delight010.swift
Labels: swift

#1903 [geegong] WEEK 08 solutions
  clone-graph/Geegong.java
  longest-common-subsequence/Geegong.java
  palindromic-substrings/Geegong.java
  reverse-bits/Geegong.java
Labels: java

#1899 [yhkee0404] WEEK 08 solutions
  clone-graph/yhkee0404.scala
  longest-common-subsequence/yhkee0404.dart
  longest-repeating-character-replacement/yhkee0404.kt
  palindromic-substrings/yhkee0404.go
  reverse-bits/yhkee0404.rs
Labels: go, kotlin, rust, scala, dart

#1894 [njngwn] WEEK 08 solutions
  clone-graph/njngwn.java
  longest-repeating-character-replacement/njngwn.java
  palindromic-substrings/njngwn.java
Labels: java

#1901 [jangwonyoon] WEEK 8 Solutions
  palindromic-substrings/jangwonyoon.js
Labels: js

#1911 [sonjh1217] WEEK 09 solutions
  linked-list-cycle/sonjh1217.swift
  pacific-atlantic-water-flow/sonjh1217.swift
Labels: swift

#1914 [SeongA] WEEK 09 solutions
  linked-list-cycle/delight010.swift
  sum-of-two-integers/delight010.swift
Labels: swift

#1912 [yhkee0404] WEEK 09 solutions
  linked-list-cycle/yhkee0404.go
  maximum-product-subarray/yhkee0404.rs
  minimum-window-substring/yhkee0404.kt
  pacific-atlantic-water-flow/yhkee0404.scala
  sum-of-two-integers/yhkee0404.dart
Labels: go, kotlin, rust, scala, dart

#1909 [hi-rachel] WEEK 09 solutions
  linked-list-cycle/hi-rachel.py
  maximum-product-subarray/hi-rachel.py
  sum-of-two-integers/hi-rachel.js
Labels: js

#1916 [hu6r1s] WEEK 09 Solutions
  linked-list-cycle/hu6r1s.py
  maximum-product-subarray/hu6r1s.py
  minimum-window-substring/hu6r1s.py
  pacific-atlantic-water-flow/hu6r1s.py
  sum-of-two-integers/hu6r1s.py
Labels: py

#1923 [SeongA] week 10 solutions
  course-schedule/delight010.swift
  invert-binary-tree/delight010.swift
  jump-game/delight010.swift
Labels: swift

#1919 [yhkee0404] WEEK 10 solutions
  course-schedule/yhkee0404.swift
  invert-binary-tree/yhkee0404.rs
  jump-game/yhkee0404.dart
  merge-k-sorted-lists/yhkee0404.go
  search-in-rotated-sorted-array/yhkee0404.scala
Labels: swift, go, rust, scala, dart

#1917 [s0ooo0k] WEEK 10 Solutions
  invert-binary-tree/s0ooo0k.java
  jump-game/s0ooo0k.java
Labels: java

#1918 [hu6r1s] Week 10 Solutions
  course-schedule/hu6r1s.py
  invert-binary-tree/hu6r1s.py
  jump-game/hu6r1s.py
  merge-k-sorted-lists/hu6r1s.py
  search-in-rotated-sorted-array/hu6r1s.py
Labels: py

#1921 [hi-rachel] WEEK 10 solutions
  course-schedule/hi-rachel.py
  search-in-rotated-sorted-array/hi-rachel.py
Labels: py

#1922 [sonjh1217] WEEK 10 Solutions
  invert-binary-tree/sonjh1217.swift
Labels: swift

#1925 [prograsshopper] Week 10 Solutions
  invert-binary-tree/prograsshopper.py
Labels: py
