Repository DaleStudy/leetcode-study, pull requests merged in 2025-08, with the labels that each got.

#1738 [hyunjung-choi] WEEK 02 solutions
  3sum/hyunjung-choi.kt
  climbing-stairs/hyunjung-choi.kt
  product-of-array-except-self/hyunjung-choi.kt
  valid-anagram/hyunjung-choi.kt
  validate-binary-search-tree/hyunjung-choi.kt
Labels: kotlin

#1735 [jongwanra] WEEK 02 solutions
  3sum/jongwanra.py
  climbing-stairs/jongwanra.py
  product-of-array-except-self/jongwanra.py
  valid-anagram/jongwanra.py
  validate-binary-search-tree/jongwanra.py
Labels: py

#1770 [SAM] WEEK 2 Solutions
  valid-anagram/SamTheKorean.go
Labels: go

#1734 [yhkee0404] WEEK 01 solutions
  contains-duplicate/yhkee0404.kt
  house-robber/yhkee0404.rs
  longest-consecutive-sequence/yhkee0404.go
  top-k-frequent-elements/yhkee0404.scala
  two-sum/yhkee0404.go
Labels: go, kotlin, rust, scala

#1732 [hu6r1s] WEEK 02 Solutions
  3sum/hu6r1s.py
  climbing-stairs/hu6r1s.py
  product-of-array-except-self/hu6r1s.py
  valid-anagram/hu6r1s.py
  validate-binary-search-tree/hu6r1s.py
Labels: py

#1733 [mkwkw] WEEK 02 Solutions
  3sum/mkwkw.cpp
  climbing-stairs/mkwkw.cpp
  product-of-array-except-self/mkwkw.cpp
  valid-anagram/mkwkw.cpp
  validate-binary-search-tree/mkwkw.cpp
Labels: c++

#1768 [hi-rachel] WEEK 02 solutions
  3sum/hi-rachel.py
  climbing-stairs/hi-rachel.py
  product-of-array-except-self/hi-rachel.py
  valid-anagram/hi-rachel.py
  validate-binary-search-tree/hi-rachel.py
Labels: py

#1749 [LylaDev] WEEK 02 solutions
  climbing-stairs/Lyla-Dev.java
  product-of-array-except-self/Lyla-Dev.java
Labels: java

#1742 [solbijae] WEEK 02 solutions
  climbing-stairs/solbijae.ts
  product-of-array-except-self/solbijae.ts
  valid-anagram/solbijae.ts
Labels: ts

#1737 [Grit03] WEEK 02 solutions
  climbing-stairs/Grit03.js
  valid-anagram/Grit03.js
Labels: js

#1736 [jinvicky] WEEK 02 solutions
  3sum/jinvicky.java
  climbing-stairs/jinvicky.java
  product-of-array-except-self/jinvicky.java
  valid-anagram/jinvicky.java
  validate-binary-search-tree/jinvicky.java
Labels: java

#1759 [DaleSeo] WEEK 02 solutions
  valid-anagram/DaleSeo.rs
Labels: rust

#1744 [SeongA] WEEK 02 solutions
  3sum/delight010.swift
  climbing-stairs/delight010.swift
  product-of-array-except-self/delight010.swift
  valid-anagram/delight010.swift
  validate-binary-search-tree/delight010.swift
Labels: swift

#1773 [prograsshopper] Week 2 Solutions
  climbing-stairs/prograsshopper.py
  valid-anagram/prograsshopper.py
Labels: py

#1755 [jeongyunjae] WEEK 02 solutions
  climbing-stairs/jeongyunjae.py
  valid-anagram/jeongyunjae.py
Labels: py

#1750 [wozlsla] WEEK 02 solutions
  3sum/wozlsla.py
  climbing-stairs/wozlsla.py
  house-robber/wozlsla.py
  product-of-array-except-self/wozlsla.py
  valid-anagram/wozlsla.py
Labels: py

#1745 [reach0908] WEEK 02 solutions
  3sum/reach0908.js
  climbing-stairs/reach0908.js
  product-of-array-except-self/reach0908.js
  valid-anagram/reach0908.js
  validate-binary-search-tree/reach0908.js
Labels: js

#1731 [renovziee] WEEK 02 Solutions
  3sum/renovizee.java
  climbing-stairs/renovizee.java
  house-robber/renovizee.java
  product-of-array-except-self/renovizee.java
  top-k-frequent-elements/renovizee.java
  valid-anagram/renovizee.java
  validate-binary-search-tree/renovizee.java
Labels: java

#1760 [ohgyulim] WEEK 02 solutions
  3sum/ohgyulim.java
  climbing-stairs/ohgyulim.java
  product-of-array-except-self/ohgyulim.java
  valid-anagram/ohgyulim.java
  validate-binary-search-tree/ohgyulim.java
Labels: java

#1730 [grapefruitgreentealoe] WEEK 02 Solutions
  3sum/grapefruitgreentealoe.js
  climbing-stairs/grapefruitgreentealoe.js
  product-of-array-except-self/grapefruitgreentealoe.js
  valid-anagram/grapefruitgreentealoe.js
  validate-binary-search-tree/grapefruitgreentealoe.js
Labels: js

#1752 [jangwonyoon] Week 02 solutions
  3sum/jangwonyoon.js
  climbing-stairs/jangwonyoon.js
  product-of-array-except-self/jangwonyoon.js
  valid-anagram/jangwonyoon.js
  validate-binary-search-tree/jangwonyoon.js
Labels: js

#1774 [suhyenim] WEEK02 solutions
  climbing-stairs/suhyenim.java
  product-of-array-except-self/suhyenim.java
  valid-anagram/suhyenim.java
Labels: java

#1758 [rivkode] WEEK 02 solutions
  3sum/rivkode.py
  climbing-stairs/rivkode.py
  product-of-array-except-self/rivkode.py
  valid-anagram/rivkode.py
Labels: py

#1751 [geegong] Week 02 solutions
  3sum/Geegong.java
  house-robber/Geegong.java
  product-of-array-except-self/Geegong.java
Labels: java

#1754 [hj4645] WEEK 02 solutions
  3sum/hj4645.py
  climbing-stairs/hj4645.kt
  product-of-array-except-self/hj4645.py
  valid-anagram/hj4645.kt
Labels: kotlin

#1777 [mumunuu] WEEK 02 solutions
  climbing-stairs/mumunuu.java
  product-of-array-except-self/mumunuu.java
  valid-anagram/mumunuu.java
Labels: java

#1747 [Kyojin-Hwang] WEEK 02 solutions
  climbing-stairs/Kyojin-Hwang.js
  product-of-array-except-self/Kyojin-Hwang.js
  valid-anagram/Kyojin-Hwang.js
Labels: js

#1753 [std-freejia] week 02 solutions
  3sum/std-freejia.java
  climbing-stairs/std-freejia.java
  product-of-array-except-self/std-freejia.java
  valid-anagram/std-freejia.java
Labels: java

#1756 [Lustellz] WEEK 02 problems
  climbing-stairs/Lustellz.ts
  top-k-frequent-elements/Lustellz.ts
  valid-anagram/Lustellz.ts
Labels: ts

#1762 [sonjh1217] WEEK 02 solutions
  product-of-array-except-self/sonjh1217.swift
  valid-anagram/sonjh1217.swift
Labels: swift

#1763 [rlawjd10] WEEK 02 solutions
  climbing-stairs/rlawjd10.cpp
  valid-anagram/rlawjd10.cpp
Labels: c++

#1784 [hu6r1s] WEEK 03 Solutions
  combination-sum/hu6r1s.py
  decode-ways/hu6r1s.py
  maximum-subarray/hu6r1s.py
  number-of-1-bits/hu6r1s.py
  valid-palindrome/hu6r1s.py
Labels: py

#1799 [sooooo-an] WEEK 03 solutions
  number-of-1-bits/sooooo-an.ts
  valid-palindrome/sooooo-an.ts
Labels: ts

#1779 [mkwkw] WEEK 03 solutions
  combination-sum/mkwkw.cpp
  number-of-1-bits/mkwkw.cpp
  valid-palindrome/mkwkw.cpp
Labels: c++

#1782 [sonjh1217] WEEK 03 solutions
  number-of-1-bits/sonjh1217.swift
  valid-palindrome/sonjh1217.swift
Labels: swift

#1795 [SeongA] WEEK 03 Solutions
  combination-sum/delight010.swift
  decode-ways/delight010.swift
  maximum-subarray/delight010.swift
  number-of-1-bits/delight010.swift
  valid-palindrome/delight010.swift
Labels: swift

#1805 [std-freejia] week 03 solutions
  decode-ways/std-freejia.java
  number-of-1-bits/std-freejia.java
  valid-palindrome/std-freejia.java
Labels: java

#1800 [ohgyulim] WEEK 03 solutions
  combination-sum/ohgyulim.java
  decode-ways/ohgyulim.java
  maximum-subarray/ohgyulim.java
  number-of-1-bits/ohgyulim.java
  valid-palindrome/ohgyulim.java
Labels: java

#1797 [njngwn] WEEK 03 solutions
  decode-ways/njngwn.java
  valid-palindrome/njngwn.java
Labels: java

#1809 [suhyenim] WEEK03 solutions
  number-of-1-bits/suhyenim.java
  valid-palindrome/suhyenim.java
Labels: java

#1788 [hyer0705] WEEK 03 solutions
  combination-sum/hyer0705.ts
  decode-ways/hyer0705.ts
  maximum-subarray/hyer0705.ts
  number-of-1-bits/hyer0705.ts
  valid-palindrome/hyer0705.ts
Labels: ts

#1786 [Kyojin-Hwang] WEEK 03 solutions
  number-of-1-bits/Kyojin-Hwang.js
  valid-palindrome/Kyojin-Hwang.js
Labels: js

#1790 [reach0908] WEEK 03 solutions
  combination-sum/reach0908.js
  decode-ways/reach0908.js
  maximum-subarray/reach0908.js
  number-of-1-bits/reach0908.js
  valid-palindrome/reach0908.js
Labels: js

#1792 [yhkee0404] WEEK 03 solutions
  combination-sum/yhkee0404.ts
  decode-ways/yhkee0404.go
  maximum-subarray/yhkee0404.rs
  number-of-1-bits/yhkee0404.py
  valid-palindrome/yhkee0404.ts
Labels: ts, go, rust, python

#1785 [s0ooo0k] WEEK 03 Solutions
  combination-sum/s0ooo0k.java
  decode-ways/s0ooo0k.java
  maximum-subarray/s0ooo0k.java
  number-of-1-bits/s0ooo0k.java
  valid-palindrome/s0ooo0k.java
Labels: java

#1808 [chordpli] Week3 Solutions
  combination-sum/chordpli.py
  number-of-1-bits/chordpli.py
  valid-palindrome/chordpli.py
Labels: py

#1796 [Geegong] WEEK 03 solutions
  decode-ways/Geegong.java
Labels: java

#1810 [prograsshopper] Week 3 solution
  combination-sum/prograsshopper.py
  decode-ways/prograsshopper.py
  number-of-1-bits/prograsshopper.py
  valid-palindrome/prograsshopper.py
Labels: py

#1811 [DaleSeo] WEEK 03 solutions
  valid-palindrome/DaleSeo.rs
Labels: rust

#1793 [jongwanra] WEEK 03 solutions
  combination-sum/jongwanra.py
  number-of-1-bits/jongwanra.py
  valid-palindrome/jongwanra.py
Labels: py

#1781 [youngduck] WEEK 03 solutions
  combination-sum/youngduck.js
  number-of-1-bits/youngduck.js
  valid-palindrome/youngduck.js
Labels: js

#1813 [hyunjung-choi] WEEK 04 solutions
  coin-change/hyunjung-choi.kt
  find-minimum-in-rotated-sorted-array/hyunjung-choi.kt
  maximum-depth-of-binary-tree/hyunjung-choi.kt
  merge-two-sorted-lists/hyunjung-choi.kt
  word-search/hyunjung-choi.kt
Labels: kotlin

#1827 [SeongA] WEEK 04 solutions
  maximum-depth-of-binary-tree/delight010.swift
  merge-two-sorted-lists/delight010.swift
Labels: swift

#1817 [hyer0705] WEEK 04 Solutions
  coin-change/hyer0705.ts
  find-minimum-in-rotated-sorted-array/hyer0705.ts
  maximum-depth-of-binary-tree/hyer0705.ts
  merge-two-sorted-lists/hyer0705.ts
  word-search/hyer0705.ts
Labels: ts

#1816 [hi-rachel] WEEK 04 Solutions
  merge-two-sorted-lists/hi-rachel.js
Labels: js

#1825 [sonjh1217] WEEK 04 solutions
  find-minimum-in-rotated-sorted-array/sonjh1217.swift
  maximum-depth-of-binary-tree/sonjh1217.swift
  merge-two-sorted-lists/sonjh1217.swift
Labels: swift

#1829 [DaleSeo] WEEK 04 solutions
  merge-two-sorted-lists/DaleSeo.rs
Labels: rust

#1833 [Lustellz] WEEK 04 solution
  merge-two-sorted-lists/Lustellz.ts
Labels: ts

#1822 [std-freejia] week04 solutions
  coin-change/std-freejia.java
  maximum-depth-of-binary-tree/std-freejia.java
  merge-two-sorted-lists/std-freejia.java
Labels: java

#1828 [wozlsla] WEEK 04 solutions
  maximum-depth-of-binary-tree/wozlsla.py
  merge-two-sorted-lists/wozlsla.py
Labels: py

#1821 [jun0811] WEEK 04 Solutions
  coin-change/jun0811.js
  find-minimum-in-rotated-sorted-array/jun0811.js
  maximum-depth-of-binary-tree/jun0811.js
  merge-two-sorted-lists/jun0811.js
  word-search/jun0811.js
Labels: js

#1830 [hoyeongkwak] Week4 Solutions
  coin-change/hoyeongkwak.java
  find-minimum-in-rotated-sorted-array/hoyeongkwak.java
  maximum-depth-of-binary-tree/hoyeongkwak.java
  merge-two-sorted-lists/hoyeongkwak.java
  word-search/hoyeongkwak.java
Labels: java

#1815 [jinvicky] WEEK 04 Solutions
  coin-change/jinvicky.java
  find-minimum-in-rotated-sorted-array/jinvicky.java
  maximum-depth-of-binary-tree/jinvicky.java
  merge-two-sorted-lists/jinvicky.java
  word-search/jinvicky.java
Labels: java

#1832 [chordpli] WEEK 04 solutions
  maximum-depth-of-binary-tree/chordpli.py
  merge-two-sorted-lists/chordpli.py
Labels: py

#1819 [jongwanra] WEEK 04 Solutions
  maximum-depth-of-binary-tree/jongwanra.py
  merge-two-sorted-lists/jongwanra.py
  valid-palindrome/jongwanra.py
Labels: py

#1836 [jinvicky] WEEK05 solutions
  best-time-to-buy-and-sell-stock/jinvicky.java
  coin-change/jinvicky.java
  group-anagrams/jinvicky.java
  implement-trie-prefix-tree/jinvicky.java
  word-break/jinvicky.java
  word-search/jinvicky.java
Labels: java

#1847 [geegong] WEEK 05 solutions
  group-anagrams/Geegong.java
  implement-trie-prefix-tree/Geegong.java
  word-break/Geegong.java
Labels: java

#1838 [devyejin] WEEK 05 solutions
  best-time-to-buy-and-sell-stock/devyejin.py
  encode-and-decode-strings/devyejin.py
  group-anagrams/devyejin.py
  implement-trie-prefix-tree/devyejin.py
  word-break/devyejin.py
Labels: py

#1854 [sora0319] Week 5 Solutions
  best-time-to-buy-and-sell-stock/sora0319.java
  encode-and-decode-strings/sora0319.java
  group-anagrams/sora0319.java
  implement-trie-prefix-tree/sora0319.java
  word-break/sora0319.java
Labels: java

#1844 [hyogshin] WEEK 5 solutions
  best-time-to-buy-and-sell-stock/hyogshin.py
  encode-and-decode-strings/hyogshin.py
  group-anagrams/hyogshin.py
  implement-trie-prefix-tree/hyogshin.py
  word-break/hyogshin.py
Labels: py

#1858 [DaleSeo] WEEK 05 solutions
  best-time-to-buy-and-sell-stock/DaleSeo.rs
Labels: rust

#1842 [jun0811] week05 solutions
  best-time-to-buy-and-sell-stock/jun0811.js
  group-anagrams/jun0811.js
Labels: js

#1855 [jangwonyoon] weeks 5 Solutions
  group-anagrams/jangwonyoon.js
Labels: js

#1841 [std-freejia] week05 solutions
  best-time-to-buy-and-sell-stock/std-freejia.java
  group-anagrams/std-freejia.java
Labels: java

#1863 [SeongA] WEEK 06 solutions
  container-with-most-water/delight010.swift
  design-add-and-search-words-data-structure/delight010.swift
  longest-increasing-subsequence/delight010.swift
  spiral-matrix/delight010.swift
  valid-parentheses/delight010.swift
Labels: swift

#1862 [hyunjung-choi] WEEK 06 solutions
  container-with-most-water/hyunjung-choi.kt
  design-add-and-search-words-data-structure/hyunjung-choi.kt
  longest-increasing-subsequence/hyunjung-choi.kt
  valid-parentheses/hyunjung-choi.kt
Labels: kotlin

#1872 [geegong] WEEK 06 solutions
  design-add-and-search-words-data-structure/Geegong.java
  find-minimum-in-rotated-sorted-array/Geegong.java
  longest-increasing-subsequence/Geegong.java
  spiral-matrix/Geegong.java
  valid-parentheses/Geegong.java
Labels: java

#1859 [jinvicky] WEEK 06 solutions
  container-with-most-water/jinvicky.java
  design-add-and-search-words-data-structure/jinvicky.java
  house-robber-ii/jinvicky.java
  longest-consecutive-sequence/jinvicky.java
  longest-increasing-subsequence/jinvicky.java
  maximum-product-subarray/jinvicky.java
  missing-number/jinvicky.java
  spiral-matrix/jinvicky.java
  top-k-frequent-elements/jinvicky.java
  unique-paths/jinvicky.java
  valid-parentheses/jinvicky.java
Labels: java

#1864 [sonjh1217] WEEK 06 solutions
  container-with-most-water/sonjh1217.swift
  design-add-and-search-words-data-structure/sonjh1217.swift
  group-anagrams/sonjh1217.swift
  longest-increasing-subsequence/sonjh1217.swift
  valid-parentheses/sonjh1217.swift
Labels: swift

#1876 [chordpli] WEEK 06 solutions
  valid-parentheses/chordpli.py
Labels: py

#1871 [devyejin] WEEK 06 solutions
  container-with-most-water/devyejin.py
  design-add-and-search-words-data-structure/devyejin.py
  longest-increasing-subsequence/devyejin.py
  spiral-matrix/devyejin.py
  valid-parentheses/devyejin.py
Labels: py

#1860 [yhkee0404] WEEK 06 solutions
  container-with-most-water/yhkee0404.go
  design-add-and-search-words-data-structure/yhkee0404.rs
  longest-increasing-subsequence/yhkee0404.dart
  spiral-matrix/yhkee0404.kt
  valid-parentheses/yhkee0404.scala
Labels: go, kotlin, rust, scala, dart

#1866 [njngwn] WEEK 06 solutions
  container-with-most-water/njngwn.java
  design-add-and-search-words-data-structure/njngwn.java
  longest-increasing-subsequence/njngwn.java
  reverse-linked-list/njngwn.java
  spiral-matrix/njngwn.java
  valid-parentheses/njngwn.java
Labels: java

#1868 [jun0811] WEEK 06 solutions
  container-with-most-water/jun0811.js
  design-add-and-search-words-data-structure/jun0811.js
  valid-parentheses/jun0811.js
Labels: js
